<div class="latest-newsletters">

  <h4><a href="https://stgabriel.io">latest newsletters</a></h4> 

{{ range first 5 $.Site.Data.stgabriel }}

{{ $p := . }}




  {{ if $p.image}}

    {{ $path := print $p.image | print "images/covers/" }}
    {{ $image := resources.Get $path }}
    {{ $image := $image.Resize "376x236 Center Lanczos" }}

  
  <div class="no-mobile tablet no-desktop no-wide grayscale">
    <img loading="lazy" src="{{$image.Permalink}}" alt="{{ $p.title | safeHTML }}" />    
    <p>{{$p.subtitle | safeHTML}}</p>
   </div>

  
  <div class="no-mobile no-tablet desktop wide grayscale">
    <div class="flexbox">
      <div class="box box-1">
	<a href="{{ $p.permalink }}">
	  <img loading="lazy" src="{{$image.Permalink}}" alt="{{ $p.title | safeHTML }}">
	  </a>
	
      </div>
     <div class="box box-1 padding-left">
        <p><a href="{{ $p.permalink }}">{{$p.subtitle | safeHTML}}</a></p>
    </div>
   
    </div>
    </div>



{{ end }}
{{ end }}


