
  <h4><a href="https://stgabriel.io">latest newsletters</a></h4> 

{{ range first 5 $.Site.Data.stgabriel }}

{{ $p := . }}


  

  {{ if $p.image}}

    {{ $path := print $p.image | print "images/covers/" }}
    {{ $image := resources.Get $path }}
    {{ $image := $image.Resize "435x245 Center Lanczos" }}



  
  <div class="grayscale">
    <a href="{{ $p.permalink }}"><img loading="lazy" src="{{$image.Permalink}}" alt="{{ $p.title | safeHTML }}" /></a>    
    <p style="margin-top:var(--gutter);margin-bottom:calc(var(--gutter)*3)"><a href="{{ $p.permalink }}">{{$p.subtitle | safeHTML}}</a></p>
   </div>

  
 
</a>


{{ end }}
{{ end }}


