
<nav class="navigation">
  <ul>
    <li>
  {{ partial "randomButton.html" . }}
 </li>
  <li>
    
{{ partial "header/lightDarkToggle.html" . }}
  </li>
  <ul>
</nav>
                

<nav class="navigation" style="margin-top:50px;">
  <ul>

    
    
<li>
  <a class="{{ if eq .CurrentSection.Title "Celebration"}}selected{{end}}" href="/ecards/celebration">celebration
    {{ if eq .CurrentSection.Title "Celebration"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}
  </a>
</li>

{{ if in .CurrentSection "celebration" }}
<ul>
  <li><a class="{{if in .CurrentSection "baby"}}selected disabled{{end}}" href="/ecards/celebration/baby">baby</a></li>
  <li><a class="{{if in .CurrentSection "birthday"}}selected{{end}}" href="/ecards/celebration/birthday">birthday</a></li>
  <li><a class="{{if in .CurrentSection "wedding"}}selected{{end}}" href="/ecards/celebration/wedding">weddings</a></li>
  <li><a class="{{if in .CurrentSection "congratulations"}}selected{{end}}" href="/ecards/celebration/congratulations">congratulations</a></li>
  
</ul>
{{ end }}

<li>
  <a class="{{ if eq .CurrentSection.Title "Concerned"}}selected{{end}}" href="/ecards/concerned">concerned
  {{ if eq .CurrentSection.Title "Concern"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
  </a>
</li>

{{ if in .CurrentSection "concerned" }}
<ul>
  <li><a class="{{if in .CurrentSection "apology"}}selected{{end}}" href="/ecards/concerned/apology">apology</a></li>
  <li><a class="{{if in .CurrentSection "cheer-up"}}selected{{end}}" href="/ecards/concerned/cheer-up">cheer up</a></li>
  <li><a class="{{if in .CurrentSection "excuses"}}selected{{end}}" href="/ecards/concerned/excuses">excuses</a></li>
  <li><a class="{{if in .CurrentSection "get-well"}}selected{{end}}" href="/ecards/concerned/get-well">get well</a></li>
  <li><a class="{{if in .CurrentSection "missing-you"}}selected{{end}}" href="/ecards/concerned/missing-you">missing you</a></li>
  <li><a class="{{if in .CurrentSection "reminder"}}selected{{end}}" href="/ecards/concerned/reminder">reminder</a></li>
  <li><a class="{{if in .CurrentSection "sympathy"}}selected{{end}}" href="/ecards/concerned/sympathy">sympathy</a></li>
  <li><a class="{{if in .CurrentSection "thanks"}}selected{{end}}" href="/ecards/concerned/thanks">thanks</a></li>
   <li><a class="{{if in .CurrentSection "thinking-of-you"}}selected{{end}}" href="/ecards/concerned/thinking-of-you">thinking of you</a></li>
  
</ul>
{{ end }}


<li>
  <a class="{{ if eq .CurrentSection.Title "Family"}}selected{{end}}" href="/ecards/family">family
  {{ if eq .CurrentSection.Title "Family"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "family" }}
<ul>
  <li><a class="{{if in .CurrentSection "in-laws"}}selected{{end}}" href="/ecards/family/in-laws">in-laws</a></li>
  
</ul>
{{ end }}



<li>
  <a class="{{ if eq .CurrentSection.Title "Holiday"}}selected{{end}}" href="/ecards/holiday">holiday
  {{ if eq .CurrentSection.Title "Holiday"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "holiday" }}
<ul>
  <li><a class="{{if in .CurrentSection "christmas"}}selected{{end}}" href="/ecards/holiday/christmas">christmas</a></li>
  <li><a class="{{if in .CurrentSection "easter"}}selected{{end}}" href="/ecards/holiday/easter">easter</a></li>
    <li><a class="{{if in .CurrentSection "thanksgiving"}}selected{{end}}" href="/ecards/holiday/thanksgiving">thanksgiving</a></li>
  <li><a class="{{if in .CurrentSection "st-patricks-day"}}selected{{end}}" href="/ecards/holiday/st-patricks-day">st patrick's day</a></li>
    <li><a class="{{if in .CurrentSection "mothers-day"}}selected{{end}}" href="/ecards/holiday/mothers-day">mother's day</a></li>
  <li><a class="{{if in .CurrentSection "fathers-day"}}selected{{end}}" href="/ecards/holiday/fathers-day">father's day</a></li>
  <li><a class="{{if in .CurrentSection "independence-day"}}selected{{end}}" href="/ecards/holiday/independence-day">independence day</a></li>
  <li><a class="{{if in .CurrentSection "happy-new-year"}}selected{{end}}" href="/ecards/holiday/happy-new-year">happy new year</a></li>
  <li><a class="{{if in .CurrentSection "halloween"}}selected{{end}}" href="/ecards/holiday/halloween">halloween</a></li>
  <li><a class="{{if in .CurrentSection "columbus-day"}}selected{{end}}" href="/ecards/holiday/columbus-day">columbus day</a></li>
  
</ul>
{{ end }}


<li>
  <a class="{{ if eq .CurrentSection.Title "Jewish"}}selected{{end}}" href="/ecards/jewish">jewish
  {{ if eq .CurrentSection.Title "Jewish"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "jewish" }}
<ul>
  <li><a class="{{if in .CurrentSection "hanukkah"}}selected{{end}}" href="/ecards/jewish/hanukkah">hanukkah</a></li>
  <li><a class="{{if in .CurrentSection "passover"}}selected{{end}}" href="/ecards/jewish/passover">passover</a></li>
  
</ul>
{{ end }}




<li>
  <a class="{{ if eq .CurrentSection.Title "Just Because"}}selected{{end}}" href="/ecards/just-because">just because
  {{ if eq .CurrentSection.Title "Just Because"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "just-because" }}

<ul>
  <li><a class="{{if in .CurrentSection "inspirational"}}selected{{end}}" href="/ecards/just-because/inspirational">inspirational</a></li>
  <li><a class="{{if in .CurrentSection "wtf"}}selected{{end}}" href="/ecards/just-because/wtf">wtf</a></li>
  <li><a class="{{if in .CurrentSection "zombies"}}selected{{end}}" href="/ecards/just-because/zombie">zombies</a></li>
  <li><a class="{{if in .CurrentSection "workplace"}}selected{{end}}" href="/ecards/just-because/workplace">workplace</a></li>
  <li><a class="{{if in .CurrentSection "tgif"}}selected{{end}}" href="/ecards/just-because/tgif">tgif</a></li>
  
</ul>
{{ end }}




<li>
  <a class="{{ if eq .CurrentSection.Title "love"}}selected{{end}}" href="/ecards/love">love
  {{ if eq .CurrentSection.Title "Love"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "love" }}

<ul>
  <li><a class="{{if in .CurrentSection "flirting"}}selected{{end}}" href="/ecards/love/flirting">flirting</a></li>
  <li><a class="{{if in .CurrentSection "anniversary"}}selected{{end}}" href="/ecards/love/anniversary">anniversary</a></li>
  <li><a class="{{if in .CurrentSection "valentines-day"}}selected{{end}}" href="/ecards/love/valentines-day">valentine's day</a></li>
  
</ul>
{{ end }}






<li>
  <a class="{{ if eq .CurrentSection.Title "dark-humor"}}selected{{end}}" href="/ecards/dark-humor">Dark Humor
  {{ if eq .CurrentSection.Title "Dark Humor"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "dark-humor" }}

<ul>
  <li><a class="{{if in .CurrentSection "ocd"}}selected{{end}}" href="/ecards/dark-humor/ocd">ocd</a></li>
  <li><a class="{{if in .CurrentSection "celebrity"}}selected{{end}}" href="/ecards/dark-humor/celebrity">celebrity</a></li>
  <li><a class="{{if in .CurrentSection "politics"}}selected{{end}}" href="/ecards/dark-humor/politics">politics</a></li>
  <li><a class="{{if in .CurrentSection "olympics"}}selected{{end}}" href="/ecards/dark-humor/olympics">olympics</a></li>
  
</ul>
{{ end }}





</ul>
</nav>


<div class="bottom" style="margin-top:50px">

  <nav class="navigation">
    <ul>
      <li>
     <a href="https://mastodon.au/@kris" target="_blank" rel="noopener noreferrer me" title="Mastodon">

     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 25px;"><path d="M21.58 13.913c-.29 1.469-2.592 3.121-5.238 3.396-1.379.184-2.737.368-4.185.276-2.368-.092-4.237-.551-4.237-.551.0.184.014.459.043.643.308 2.294 2.317 2.478 4.22 2.57 1.922.0 3.633-.46 3.633-.46l.079 1.653s-1.344.734-3.738.918c-1.32.091-2.96-.092-4.869-.551-4.14-1.102-4.853-5.507-4.961-10.005-.034-1.285-.013-2.57-.013-3.58.0-4.589 3-5.966 3-5.966 1.513-.734 4.11-1.01 6.808-1.01h.067c2.699.0 5.296.276 6.81 1.01.0.0 3 1.377 3 5.967.0.0.037 3.304-.419 5.69" stroke="currentcolor"></path><path d="M17.832 8.633v5h-1.978V8.78c0-1.023-.43-1.542-1.29-1.542-.95.0-1.427.616-1.427 1.834v2.655H11.17V9.072c0-1.218-.476-1.834-1.427-1.834-.86.0-1.29.52-1.29 1.542v4.852H6.475V8.633c0-1.022.26-1.834.782-2.434.538-.6 1.243-.909 2.118-.909 1.012.0 1.779.39 2.286 1.169l.492.827.493-.827c.507-.78 1.274-1.169 2.286-1.169.875.0 1.58.308 2.118.909.522.6.782 1.412.782 2.434" fill="currentcolor" stroke="none"></path></svg>

     <span style="position:relative;top:-8px">mastodon</span>
     </a>
    </li>

      <li>
     <a  href="/index.xml" target="_blank" style="text-transform:lowercase">

         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round" style="width:25px">
    <path d="M4 11a9 9 0 0 1 9 9" />
    <path d="M4 4a16 16 0 0 1 16 16" />
    <circle cx="5" cy="19" r="1" />
          </svg>
       
       <span style="position:relative;top:-8px;text-transform:uppercase">RSS FEED</span>
      </a>
      </li>
      <ul>
	</nav>
</div>

{{/*
   {{ partial "social_icons.html" site.Params.socialIcons }} 
 */}}
