
<h4>books by me</h4>
     
    {{ $path := print "/images/theme/hsf-346x554.jpg" }}
    {{ $image := resources.Get $path }}
    {{ $hsf := $image.Resize "376x Center Lanczos" }}


{{/* TABLET WIDTH ONLY */}}

<div class="grayscale no-mobile tablet no-desktop no-wide">
    <a href="https://amzn.to/2WZYRLv">
      <img loading="lazy" src="{{ $hsf.Permalink }}" alt="The Harvard Skull Fiasco Book Cover" />
      <p class="text-align-right">Buy at Amazon</p>
      </a>
    </div>

   
    {{ $path := print "/images/theme/rbb-346x554.jpg" }}
    {{ $image := resources.Get $path }}
    {{ $rbb := $image.Resize "376x Center Lanczos" }}
    <div class="grayscale  no-mobile tablet no-desktop no-wide">
    <a href="https://amzn.to/2Eaonq2">
      <img loading="lazy" src="{{ $rbb.Permalink}}" alt="Rise of the Blue Bandicoot Book Cover" />
      <p class="text-align-right">Buy at Amazon</p>
    </a>
    </div>

   
    {{ $path := print "/images/theme/bbs-346x554.jpg" }}
    {{ $image := resources.Get $path }}
    {{ $bbs := $image.Resize "376x Center Lanczos" }}
    <div class="grayscale  no-mobile tablet no-desktop no-wide">
    <a href="https://amzn.to/2KZXNnm">
    <img loading="lazy" src="{{ $bbs.Permalink }}" alt="The Blue Bandicoot Saga Book Cover" />
    <p class="text-align-right">Buy at Amazon</p>
    </a>
    </div>


{{/* WIDE AND DESKTOP WIDTHS ONLY */}}

<div class="grayscale no-mobile no-tablet desktop wide">
  <div class="flexbox">
    <div class="box box-1">

      <a href="https://amzn.to/2KZXNnm">
	<img loading="lazy" src="{{$bbs.Permalink}}" alt="The Harvard Skull Fiasco Book Cover" />
    </div>
    <div class="box box-1 padding-left center-vertically">
      <p>Shea suffers from pathological problems with authority. When he's not fixing computers in the library at Harvard Medical School, he's tormenting middle managers and feuding with his boss. But where in the Harvard employee manual does it say you have to behave perfectly at all times?</p>
      <p><span class="button book-button">find at amazon</a></p>
    </a>
    </div>
</div>



