
<div class="i-wrote-a-book grayscale">
 <div class="flexbox padding-bottom">
  <div class="box box-1 center-vertically padding-right no-mobile no-tablet no-laptop desktop">
    <h3>My latest book</h3>
    <p class="21">
      Meet Shea. He's difficult—he suffers from pathological problems with authority and an unrepentant truthfulness.

     When he's not fixing computers in the library at Harvard Medical School, he's tormenting middle managers, and feuding with his boss. But where in the Harvard employee manual does it say you have to behave perfectly at all times?
    </p>
    
    <p style="padding-top:var(--gutter)"><a href="https://amzn.to/2WZYRLv" class="button book-button">Find at Amazon</a></p>
  </div>
    <div class="box box-1">
      <h3 class="no-desktop">latest book</h3>
      {{ $path := print "/images/theme/hsf-346x554.jpg" }}
      {{ $image := resources.Get $path }}
      {{ $image := $image.Resize "377x Center Lanczos" }}
      <a href="https://amzn.to/2WZYRLv">
	<img class="" loading="lazy" src="{{$image.Permalink}}" alt="The Harvard Skull Fiasco Book Cover" />
      </a>
    </div>
   
  </div>
</div>


