<title>Free {{ .Params.Title | safeHTML  }} Ecards | Wrongcards }}</title>

<meta property="og:title" content="{{ .Params.Title | safeHTML  }} Ecards | Wrongcards }}" />
<meta name="twitter:title" content="{{ .Params.Title | safeHTML  }} Ecards | Wrongcards }}" />
<meta itemprop="name" content="Free {{ .Params.Title | safeHTML  }} Ecards | Wrongcards }}" />
<meta name="application-name" content="{{ .Site.Params.title }}" />
<meta property="og:site_name" content="{{ .Site.Params.title }}" />


{{/*

 COMMENTED OUT UNTIL EACH CATEGORY HAS TAG PARAMETERS

<meta name="keywords" content="{{- range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">

*/}}




<meta name="description" content="{{ .Content }}">


<meta itemprop="description" content="{{ .Content }}" />


<meta property="og:description" content="{{ .Content }}" />

<meta name="twitter:description" content="{{ .Content }}" />



<meta property="og:type" content="website" />


<meta name="author" content="{{ (partial "author.html" . ) }}" />


<meta property="article:author" content="{{ .Site.Params.facebookAuthor }}">
<meta property="article:publisher" content="{{ .Site.Params.facebookPublisher }}">


{{ with .Site.Params.facebook_admin -}}
  <meta property="fb:admins" content="{{ . }}">
{{ end -}}
{{ with .Site.Params.facebook_app_id -}}
  <meta property="fb:app_id" content="{{ . }}">
{{ end -}}



  
{{ $paginator := .Paginate .RegularPagesRecursive }}
<!-- Remove the line above if you already have it in the file, you don't need it twice in the same file (you do need it once in each file that refers to the paginator object though). -->

  {{ if eq $paginator.PageNumber 1 }}
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
    <base href="{{ .Permalink }}" />
    <meta name="url" content="{{ .Permalink }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" /> 
    <meta property="og:url" content="{{ .Permalink }}" />
  {{ else }}
    <link rel="canonical" href="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
    <base href="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
    <meta name="url" content="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
    <meta name="twitter:url" content="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" /> 
    <meta property="og:url" content="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
  {{ end }}


 




{{ $scratch := newScratch }}
{{ $scratch.Add "image" "images/theme/avatar.png" }}



  {{ $image := $scratch.Get "image" }}


  {{ $facebookImage := resources.Get $image }}
  {{ $facebookImage := $facebookImage.Resize .Site.Params.facebookImageSettings }}
  {{ $scratch.Set "facebookImage" $facebookImage.Permalink }}

 {{ $facebookImage := $scratch.Get "facebookImage" }}

  {{ $twitterImage := resources.Get $image }}
  {{ $twitterImage := $twitterImage.Resize .Site.Params.twitterImageSettings }}
  {{ $scratch.Set "twitterImage" $twitterImage.Permalink }}
  {{ $twitterImage := $scratch.Get "twitterImage" }}


{{ $image := $scratch.Get "image" }}



<meta itemprop="image" content="{{ $facebookImage }}" />
<meta property="og:image" content="{{ $facebookImage }}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $twitterImage }}" />
<meta name="twitter:image:src" content="{{ $twitterImage }}" /> 
<meta name="twitter:image:alt" content="{{ .Params.alt_tag }}" />
<meta name="twitter:creator" content="@stgabriel" />
<meta name="twitter:site" content="@wrongcards" />  



{{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}

<meta property="og:updated_time" content="{{ range first 1 (.RegularPagesRecursive.ByLastmod.Reverse) }}{{ .PublishDate.Format $iso8601  }}{{ end }} ">



  {{/*
    CLEVER: Adds the 'related' wrongcards, via emtatags, to the og:see_also meta property
  */}}

	{{ $related := first 6 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
	{{ with $related }}
          {{ range . }}
	   <meta property="og:see_also" content="{{ .Permalink }}">
	  {{ end }}
	{{ end }}
	

	   
    {{ with .Params.tags -}}
      {{ range first 6 . -}}
        <meta property="article:tag" content="{{ . }}">
      {{ end -}}
    {{ end -}}

	   

    


<script type="application/ld+json"> 
{
    "@context": "http://schema.org",
    "@type": "ImageGallery",
    {{/*    "isFamilyFriendly": false, */}}
    "name": "Free {{ .Params.Title | safeHTML  }} Ecards | Wrongcards }}",
    "description": "{{ .Content }}",
    "publisher": {
        "@type": "ProfilePage",
        "name": "{{ .Site.Params.author }}"
    }
}
</script>


