

<title>Free {{ .Parent.Title }} Ecard: '{{ title .Title }}' | {{ site.Title }}</title>
<meta property="og:title" content="{{ .Parent.Title }} Ecard: '{{ title .Title }}' | {{ site.Title }}" />
<meta name="twitter:title" content="{{ .Parent.Title }} Ecard: '{{ title .Title }}' | {{ site.Title }}" />
<meta itemprop="name" content="Free {{ .Parent.Title }} Ecard: '{{ title .Title }}' | {{ site.Title }}" />
<meta name="application-name" content="{{ .Site.Params.title }}" />
<meta property="og:site_name" content="{{ .Site.Params.title }}" />


{{/*
keywords grabs keywords from the card,
then it adds
.Site.Params.keywords at the end
(ecard,ecards,wrong ecards, etc)

*/}}

<meta name="keywords" content="{{ if .Params.keywords -}}
    {{- range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} {{- else }}{{- range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} {{- end -}}, {{ with site.Params.keywords -}}{{- range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}{{ end }}">



<meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else}}Ecard: {{ .Params.alt_tag }}{{end}}" />
<meta itemprop="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else}}Ecard: {{ .Params.alt_tag }}{{end}}" />
<meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else}}Ecard: {{ .Params.alt_tag }}{{end}}" />
<meta name="twitter:description" content="{{ .Params.description }}{{ if .Params.description }}{{ .Params.description }}{{ else}}Ecard: {{ .Params.alt_tag }}{{end}}" />


<meta property="og:type" content="article" />

<meta property="article:section" content="{{ .Parent.Title }} Ecards">

<meta name="author" content="{{ (partial "author.html" . ) }}" />
<meta property="article:author" content="{{ .Site.Params.facebookAuthor }}">
<meta property="article:publisher" content="{{ .Site.Params.facebookPublisher }}">


{{ with .Site.Params.facebook_admin -}}
  <meta property="fb:admins" content="{{ . }}">
{{ end -}}
{{ with .Site.Params.facebook_app_id -}}
  <meta property="fb:app_id" content="{{ . }}">
{{ end -}}


  
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- if and (gt (len $pages) 1) (in $pages . ) }}
    {{- with $pages.Prev . }}
     <link rel="prev" href="{{ .Permalink }}">
    {{- end }}
    {{- with $pages.Next . }}
     <link rel="next" href="{{ .Permalink }}">
    {{- end }}
  
  {{- end }}
  


<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<base href="{{ .Permalink }}" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta property="og:url" content="{{ .Permalink }}" />







{{ $scratch := newScratch }}
{{ $scratch.Add "image" "images/theme/avatar.png" }}



{{ if .Params.id }}
  {{ $path := ".png" | print .Params.id | print "images/c/" }}
  {{ $scratch.Set "image" $path }}
{{ end }}

{{ $image := $scratch.Get "image" }}


  {{ $facebookImage := resources.Get $image }}
  {{ $facebookImage := $facebookImage.Resize .Site.Params.facebookImageSettings }}
  {{ $scratch.Set "facebookImage" $facebookImage.Permalink }}

 {{ $facebookImage := $scratch.Get "facebookImage" }}

  {{ $twitterImage := resources.Get $image }}
  {{ $twitterImage := $twitterImage.Resize .Site.Params.twitterImageSettings }}
  {{ $scratch.Set "twitterImage" $twitterImage.Permalink }}
  {{ $twitterImage := $scratch.Get "twitterImage" }}


{{ $image := $scratch.Get "image" }}



<meta itemprop="image" content="{{ $facebookImage }}" />
<meta property="og:image" content="{{ $facebookImage }}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $twitterImage }}" />
<meta name="twitter:image:src" content="{{ $twitterImage }}" /> 
<meta name="twitter:image:alt" content="{{ .Params.alt_tag }}" />
<meta name="twitter:creator" content="@stgabriel" />
<meta name="twitter:site" content="@wrongcards" />  


{{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}

  {{ if not .PublishDate.IsZero -}}
    <meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
  {{ else if not .Date.IsZero -}}
    <meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
  {{ end -}}


    {{ if not .Lastmod.IsZero -}}
    <meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
  {{ end -}}

  {{ if not .Date.IsZero -}}
    <meta property="og:updated_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
  {{ end -}}




  {{/*
    CLEVER: Adds the 'related' wrongcards, via emtatags, to the og:see_also meta property
  */}}

	{{ $related := first 6 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
	{{ with $related }}
          {{ range . }}
	   <meta property="og:see_also" content="{{ .Permalink }}">
	  {{ end }}
	{{ end }}
	
	   
    {{ with .Params.tags -}}
      {{ range first 6 . -}}
        <meta property="article:tag" content="{{ . }}">
      {{ end -}}
    {{ end -}}

	   

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Ecard",
  "headline": "{{ .Parent.Title }} Ecard: '{{ title .Title}}' | {{ site.Title }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
    "datePublished": "{{ .Params.PublishDate.Format "2006-01-02"}}",
    "dateModified": "{{ .Params.LastMod.Format "2006-01-02"}}",
    "image": "{{ $twitterImage }}",
    "copyrightNotice": "{{ .Site.Params.author }}",
    "genre": "{{ .Parent.Title }} Ecards",
    "keywords": "{{ if .Params.keywords -}}
    {{- range $i, $e := .Params.keywords }}{{ if $i }} {{ end }}{{ $e }}{{ end }} {{- else }}
    {{- range $i, $e := .Params.tags }}{{ if $i }} {{ end }}{{ $e }}{{ end }} {{- end -}} {{ with site.Params.keywords -}} {{- range $i, $e := . }} {{ if $i }}{{ end }}{{ $e }}{{ end }}{{ end }}",
    "description": "{{ if isset .Params "alt_tag"}}{{ .Params.alt_tag }}{{ else}}{{ .Site.params.description }}{{end}}",
    "articleBody": "{{ if isset .Params "description"}}{{ .Params.description }}{{ else }}{{ .Site.params.description }}{{ end }}",
    "url": "{{ .Permalink }}",
  "publisher": {
    "@type": "Organization",
      "name": "{{ .Site.Params.title }}"
  }
}
</script>    
