
<title>{{ .Site.Title }} | {{ .Site.Params.description }}</title>
<meta property="{{ .Site.Title }} | {{ .Site.Params.description }}" />
<meta name="twitter:title" content="{{ .Site.Title }} | {{ .Site.Params.description }}" />
<meta itemprop="name" content="{{ .Site.Title }} | {{ .Site.Params.description }}" />
<meta name="application-name" content="{{ .Site.Params.title }}" />
<meta property="og:site_name" content="{{ .Site.Params.title }}" />



{{ with site.Params.keywords -}}<meta name="keywords" content="{{- range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">{{ end }}


<meta name="description" content="{{- with site.Params.description }}{{ . }}{{- end }}">
<meta itemprop="description" content="{{- with site.Params.description }}{{ . }}{{- end }}">
<meta property="og:description" content="{{- with site.Params.description }}{{ . }}{{- end }}">
<meta name="twitter:description" content="{{- with site.Params.description }}{{ . }}{{- end }}">



<meta property="og:type" content="website" />


<meta name="author" content="{{ (partial "author.html" . ) }}">
<meta property="article:author" content="{{ .Site.Params.facebookAuthor }}">
<meta property="article:publisher" content="{{ .Site.Params.facebookPublisher }}">

 
{{ with .Site.Params.facebook_admin -}}
  <meta property="fb:admins" content="{{ . }}">
{{ end -}}
{{ with .Site.Params.facebook_app_id -}}
  <meta property="fb:app_id" content="{{ . }}">
{{ end -}}


<link rel="canonical" href="{{ if .Params.canonicalURL -}} {{ trim .Params.canonicalURL " " }} {{- else -}} {{ .Permalink }} {{- end }}" />
<base href="{{ .Permalink }}" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="og:url" content="{{ .Permalink }}" />


{{ $scratch := newScratch }}
{{ $scratch.Add "image" "images/theme/avatar.png" }}
{{ $image := $scratch.Get "image" }}
{{ $facebookImage := resources.Get $image }}
{{ $facebookImage := $facebookImage.Resize .Site.Params.facebookImageSettings }}
{{ $scratch.Set "facebookImage" $facebookImage.Permalink }}
{{ $facebookImage := $scratch.Get "facebookImage" }}

{{ $twitterImage := resources.Get $image }}
{{ $twitterImage := $twitterImage.Resize .Site.Params.twitterImageSettings }}
{{ $scratch.Set "twitterImage" $twitterImage.Permalink }}
{{ $twitterImage := $scratch.Get "twitterImage" }}

<meta itemprop="image" content="{{ $facebookImage }}" />
<meta property="og:image" content="{{ $facebookImage }}">
    

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $twitterImage }}" />
<meta name="twitter:image:src" content="{{ $twitterImage }}" /> 
<meta name="twitter:image:alt" content="{{ .Params.alt_tag }}" />
<meta name="twitter:creator" content="@stgabriel" />
<meta name="twitter:site" content="@wrongcards" />  



{{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}

<meta property="og:updated_time" content="{{ .Site.Params.lastUpdated  }}">

	   
    {{ with .Site.Params.tags -}}
      {{ range first 6 . -}}
        <meta property="article:tag" content="{{ . }}">
      {{ end -}}
    {{ end -}}




	
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Website",
  "headline": "{{ site.Title }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
    "dateModified": "{{ .Site.Params.lastUpdated }}.Format "2006-01-02"}}",
    "image": "{{ $twitterImage }}",
    "copyrightNotice": "{{ .Site.Params.author }}",
    "genre": "Ecards",
    "keywords": "{{ if .Params.keywords -}}
    {{- range $i, $e := .Params.keywords }}{{ if $i }} {{ end }}{{ $e }}{{ end }} {{- else }}
    {{- range $i, $e := .Params.tags }}{{ if $i }} {{ end }}{{ $e }}{{ end }} {{- end -}} {{ with site.Params.keywords -}} {{- range $i, $e := . }} {{ if $i }}{{ end }}{{ $e }}{{ end }}{{ end }}",
    "description": "{{ if isset site.Params "description"}}{{ site.Params.description }}{{end}}",
    "url": "{{ .Permalink }}",
  "publisher": {
    "@type": "Organization",
      "name": "{{ .Site.Params.title }}"
  }
}
</script>    

	
