{{- define "metatags" }}
    {{- template "partials/meta/metatags_lists.html" . }}
{{- end }}



{{define "sidebar"}}

{{ partial "ecards/latest-newsletters.html" .}}

{{ end }}

{{- define "main" }}




      {{- $pages := .RegularPagesRecursive  }}
      {{- $paginator := .Paginate $pages }}
      {{- $term := .Data.Term }}



<div class="mobile tablet desktop wide">
{{ partial "mainBlocks/newsletter-subscribe-box.html" . }}
</div> 


  {{ partial "breadcrumbs.html" .}}

  <h1 itemprop="name">
    {{ .Title }}

    {{ if gt $paginator.TotalPages 1 }}
       <small>| PAGE {{ $paginator.PageNumber }}</small>
    {{ end }}
    <h3>{{ .Params.og_title }}. {{ .Params.og_description | safeHTML }}</h3>
    
    {{- if and (or (eq .Kind `term`) (eq .Kind `section`)) (.Param "ShowRssButtonInSectionTermList") }}
    <a href="index.xml" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
  </h1>

  
  
  
  

 <div class="category-description">

{{ if eq $paginator.PageNumber 1}}

  
   {{- if .Content }}
     {{ .Content | safeHTML }}
   {{ end }}
 {{ end }}

 </div>

<!-- buttons with sub-categories -->
<div>
          {{ $root_ecards_path := trim .Site.Data.ecards_sections.root_ecards_path "/" }}
          {{ $current_page_url := .RelPermalink }}
          {{ if ne $root_ecards_path $current_page_url }}
            {{ $child_pages := (($.Site.GetPage "section" $current_page_url).Pages).ByWeight }}
            {{ $child_count := $child_pages | len }}
            {{ $has_children := cond (gt $child_count 0) true false }}
            {{ if $has_children }}


<div class="buttons">
{{  if .Sections }}
<button class="">Sub-Categories: </button>                       
{{ end}}
  			
{{ range $child_page := $child_pages }}
{{ if .Params.id }}
{{ else }}
<a class="button" href="{{ $child_page.RelPermalink }}" class="stretched-link">{{ $child_page.Title }}</a>
{{ end }}
{{ end }}


</div><!-- /buttons-with-subcategories -->
<hr style="margin-bottom:var(--gutter)">
</div>
{{- end }}








<div class="cards">


{{- range $index, $page := $paginator.Pages }}


<div class="card">
{{ partial "teasers/card.html" . }}
</div>


{{- end }}


</div><!-- /cards -->


{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">
      «&nbsp;{{ i18n "prev_page" }}&nbsp;
      {{- if (.Param "ShowPageNums") }}
      {{- sub $paginator.PageNumber 1 }}/{{ $paginator.TotalPages }}
      {{- end }}
    </a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">
      {{- i18n "next_page" }}&nbsp;
      {{- if (.Param "ShowPageNums") }}
      {{- add 1 $paginator.PageNumber }}/{{ $paginator.TotalPages }}
      {{- end }}&nbsp;»
    </a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
