{{- define "metatags" }}
    {{- template "partials/meta/metatags_ecard.html" . }}
{{- end }}



{{- define "sidebar"}}

        <div class="sidebar-subscribe-box no-mobile no-tablet no-desktop wide">
          {{ partial "sidebarBlocks/newsletter-subscribe-box" . }}
	</div>

        <div class="flexbox"> 
          <div class="box box-1 latest-newsletters">
	     {{ partial "ecards/latest-newsletters-horizontal.html" . }}
	  </div>

	  
             <div class="box box-1">
                 {{ partial "sidebarBlocks/books.html" .}}
             </div>
	  
	  
	</div>


      
 {{ end }}






{{- define "main" }}

{{- $prod := (hugo.IsProduction | or (eq site.Params.env "production")) }}


{{/* partial "breadcrumbs.html" . */}}

{{- if (.Param "ShowPostNavLinks") }}
{{- partial "post_nav_links.html" . }}
{{- end }}


{{ partial "breadcrumbs.html" . }}
<figure>
{{ if $prod }}

{{ $path := ".png" | print .Params.id | print "images/c/" }}
{{ $image := resources.Get $path }}

{{ $small := $image.Resize "750x Smart Lanczos" }} 
{{ $medium := $image.Resize "1028x Smart Lanczos" }}
{{/* $large := $image.Resize "1028x Smart Lanczos" */}}


<picture>

  <source media="(max-width: 720px)" srcset="{{ $small.Permalink }}">
  <source media="(min-width: 721px)" srcset="{{ $medium.Permalink }}">
  <source media="(min-width: 1200px)" srcset="{{ $small.Permalink }}">
  <source media="(min-width: 1375px)" srcset="{{ $medium.Permalink }}">
  <source media="(min-width: 1600px)" srcset="{{ $small.Permalink }}">
  <source media="(min-width: 1800px)" srcset="{{ $medium.Permalink }}">
  
  <img
    src="{{ $medium.Permalink }}"
    alt="{{ .CurrentSection.Title }} Ecard with text: {{ .Params.alt_tag | safeHTML }}"
    loading="lazy"
    />
</picture>

{{ else }}
  <img loading="lazy" src="/img/c/{{ .Params.id}}.png" />
{{ end }}

 <div class="buttons">

   <div class="title"><span class="label">CARD TITLE</span>
     <h1 itemprop="name"> {{ .Title }}</h1>
    </div>

   <div>
    {{ partial "randomButton.html" . }}  
       {{ partial "ecards-share-modal.html" . }}
       <a rel="nofollow" href="https://app.wrongcards.com/send/?wc_id={{.Params.id }}" class="button" style="margin-left:5px">send</a>
    </div>
  </div>

<figcaption>
    {{- if .Description }}
    
    <b>about this card:</b> <em>{{ .Title }}</em> | {{ .Description | markdownify }}

    {{- if (.Param "ShowTags") }}| {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
      {{- range ($.GetTerms $tags) }}
      <a href="{{ .Permalink }}" class="tags">#{{ .LinkTitle }}</a> 
      {{- end }}
      {{- end }}
      
    
    {{- end }}
</ficaption>
</figure>


<div class="mobile tablet desktop no-wide">
{{ partial "mainBlocks/newsletter-subscribe-box.html" . }}
</div>



{{ $related := first 5 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
{{ with $related }}
<h4 style="text-align:center">somewhat related wrongcards</h4>

  <div class="cards">   
    {{ range . }}
     <div class="card">
       {{ partial "teasers/card-without-description.html" . }}
     </div>
    {{ end }}
  </div>

{{ end }}







  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}

{{- end }}{{/* end main */}}



