{{/*

displays a picture/card.

This is used on ecard/list.html.

I studied it, and it doesnt need a <picture> tag. If all cards are at 852px size, it's okay.

*/}}



{{- $prod := (hugo.IsProduction | or (eq site.Params.env "production")) }}

<figure>
{{ if $prod }}

{{ $path := ".png" | print .Params.id | print "images/c/" }}
{{ $image := resources.Get $path }}




  {{/* $small := $image.Resize "678x Smart Lanczos" */}}
  {{ $medium := $image.Resize "678x Smart Lanczos" }}
  {{ $large := $image.Resize "950x Smart Lanczos" }}

<a href="{{ .Permalink }}">
<picture>
  <img
       loading="lazy"
       src="{{ $medium.Permalink }}"
       alt="{{ .CurrentSection.Title }} Ecard with text: {{ .Params.alt_tag | safeHTML }}"
       srcset="{{ $medium.Permalink }} 678w, {{ $large.Permalink }} 950w"
  />
</picture>
</a>



{{ else }}

<a href="{{ .Permalink }}">
<img loading="lazy" src="/img/c/{{ .Params.id}}.png" />
</a>		   

{{ end }}



{{/*

     buttons:
     VIEW CARD
     SHARE
     SEND

*/}}
<div class="buttons">
   <a href="{{ .Parent.Permalink }}" class="button">{{.Parent.Title}} Ecards</a> 
   <a href="{{ .Permalink }}" class="button">view</a>
   {{ partial "ecards-share-modal.html" . }}
   <a rel="nofollow" href="https://app.wrongcards.com/send/?wc_id={{.Params.id }}" class="button" style="margin-left:5px">send</a>
</div>




<figcaption>
    {{- if .Description }}
    
      <b>about this card:</b> <em>{{ .Title }}</em> | {{ .Description }}
    
    {{- end }}
</ficaption>
</figure>
