
{{/*

DRAW CARD

*/}}

{{- $prod := (hugo.IsProduction | or (eq site.Params.env "production")) }}


<figure style="padding-bottom:calc(var(--gutter)*2)">


{{ if $prod}}

{{ $path := ".png" | print .Params.id | print "images/c/" }}
{{ $image := resources.Get $path }}

{{ $small := $image.Resize "500x Smart Lanczos" }}
{{ $large := $image.Resize "900x Smart Lanczos" }}

<a href="{{ .Permalink }}">
  <picture>
    <img
      loading="lazy"
      src="{{ $image.Permalink }}"
      alt="{{ .CurrentSection.Title }} Ecard with text: {{ .Params.alt_tag | safeHTML }}"
      srcset="{{ $small.Permalink }} 500w, {{ $large.Permalink }} 900w"
      />
  </picture>
</a>

{{ else }}

<a href="{{ .Permalink }}">
<img loading="lazy" src="/img/c/{{ .Params.id}}.png" />
</a>		   
  
 {{ end }}
<div class="buttons">
   <a href="{{ .Permalink }}" class="button">view</a>
   {{ partial "ecards-share-modal.html" . }}
   <a rel="nofollow" href="https://app.wrongcards.com/send/?wc_id={{.Params.id }}" class="button" style="margin-left:5px">send</a>
</div>



{{/*

     buttons:
     VIEW CARD
     SHARE
     SEND

*/}}




</figure>
