
{{/*
  displays a card:
   Currently only used on the front page. ie /index.html
*/}}


{{- $prod := (hugo.IsProduction | or (eq site.Params.env "production")) }}



<figure class="side-by-side flexbox">
  <div class="box box-2">

    {{ if $prod }}
    
     {{ $path := ".png" | print .Params.id | print "images/c/" }}
     {{ $image := resources.Get $path }}

     {{ $small  := $image.Resize "473x Smart Lanczos" }}
     {{ $large  := $image.Resize "920x Smart Lanczos" }}

    <a href="{{ .Permalink }}">
    <picture>
      
      <img
	loading="lazy"
	src="{{ $large.Permalink }}"
	alt="{{ .CurrentSection.Title }} Ecard with text: {{ .Params.alt_tag | safeHTML }}"
        srcset="{{ $small.Permalink }} 473w, {{ $large.Permalink }} 920w"
      />
      
    </picture>
    </a>
      
    {{ else }}

    <a href="{{ .Permalink }}">
     <img loading="lazy" src="/img/c/{{ .Params.id}}.png" />
   </a>		   
  
 {{ end }}

<div class="buttons">
   <a href="{{ .Permalink }}" class="button">view</a>
   {{ partial "ecards-share-modal.html" . }}
   <a rel="nofollow" href="https://app.wrongcards.com/send/?wc_id={{.Params.id }}" class="button" style="margin-left:5px">send</a>
</div>


</div>

{{/*

     buttons:
     VIEW CARD
     SHARE
     SEND

*/}}




<figcaption class="box box-1 padding-left no-mobile no-tablet no-desktop wide">
    {{- if .Description }}
    
     <p class="small-text"> <b>about this card:</b><br><em>{{ .Title }}</em> | {{ .Description }}</p>
    
      {{- end }}



</ficaption>
</figure>
