




    {{ $path := print "/images/theme/hsf-346x554.jpg" }}
    {{ $image := resources.Get $path }}
    {{ $image := $image.Resize "188x Center Lanczos" }}


<div class="flexbox main-subscribe-box">
  <div class="box box-1 padding-right no-tiny">
    <img loading="lazy" src="{{$image.Permalink}}" alt="The Harvard Skull Fiasco" />
  </div>
  <div class="box box-4 center-vertically">
    <h2 id="subscribe">Keep up with my nonsense</h2>
    
    <p style="padding-bottom:1rem">Subscribe to my newsletter <br>and get one of my ebooks for free.</p>  

  
  <form action="https://app.mailerlite.com/webforms/submit/b8x5p4" data-code="b8x5p4" method="post" target="_blank">
    

      <input class="input" type="email" aria-label="Email" placeholder="Enter your email" data-inputmask="" name="fields[email]">
         <input type="hidden" name="fields[undefined]" value="wrongcards">
         <input type="hidden" name="ml-submit" value="1">
    
     <button class="button" type="submit" value="Subscribe" name="subscribe">Subscribe</button>
    
    
  </form>
  </div>
  </div><!--/flexbox-->


<script> function ml_webform_success_1527004() {
			var $ = ml_jQuery || jQuery;
			$('.newsletter__feedback--success').show();
			$('.newsletter__form').hide();
			}
			</script>
			<img src="https://track.mailerlite.com/webforms/o/1527004/b8x5p4?v253251d9ecd93b8e74c12a37f72e896f" width="1" height="1" style="max-width: 1px; max-height: 1px; visibility: hidden; padding: 0; margin: 0; display: block;" border="0">
			<script src="https://static.mailerlite.com/js/w/webforms.min.js?v253251d9ecd93b8e74c12a37f72e896f" type="text/javascript"></script>
