/*
 css specific to
 layouts/partials/blocks
*/


/*
  i-wrote-a-book.html
*/




/*
.sidebars .i-wrote-a-book {
    display:none;
}


@media screen and (min-width: 1200px) {
   .sidebars .i-wrote-a-book{
     background:red;
     display:block;
   }
}


*/
