/*
<button class="button-4" role="button">Button 4</button>
*/

/* this button and really good optional ones were here:
https://getcssscan.com/css-buttons-examples
*/

/* CSS */
.button {
  appearance: none;
  background-color: var(--button); # #FAFBFC;

  outline: 1px solid rgba(27, 31, 35, 0.15);

  // outline: 1px solid var(--border);
  //border-radius: 6px;
  //box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  //color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  // font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  // padding: 16px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  padding:0.7rem 1rem;
  
}

.button:hover {
  background-color: lighten(var(--button), 3%);
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}


