
/*
 * {background:red}
*/

/*
article.list .entry-cover img {
	height:200px;
      	object-fit: cover;
}
*/
	
a.logo{
    background:url("/theme/logo.png") no-repeat;
    width:200px;
    height:48px;
    display:block;
    
    margin-left:auto;
    margin-right:auto;
}


//.post-entry {padding:0}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
a.logo{
    background:url("/theme/logo.png") no-repeat;
    display: block;
    //float: left;
    width: 200px;
    height: 52px;
}
body.dark a.logo {
    background:url("/theme/logo-alt.png") no-repeat;
}

.slogan {
    margin:1.5rem 0 2rem 0;
    display:block;
    text-align:center;
    font-size: 0.9rem;
}  

ul.horizontal li{ display: inline; padding-left:2rem;}
/*
button#theme-toggle{background:red}
*/

/*
#hsf, #rrb {
    display:block;
    width:346px;
    height:554px;
    border:2px solid red;
}
 */

			 
@media screen and (min-width: 768px) {
 

}

/* ecard teaser display related */

figure img{
    outline:1px solid var(--border);
}



/* nav menu */


.arrow {
  border: solid var(--content);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  left:10px;
  
  
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top:1px;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: -3px;
}



/*
header hr {
    border:1px solid #aaa;
    margin:2rem 0;
}
*/

header.header{border-right:1px solid var(--border)}
nav.navigation a {

  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  //background:blue;
  display:block;
}
nav.navigation a.button{

    width:100%;

}


nav.navigation a:focus, nav.navigation a:hover, nav.navigation label:focus, nav.navigation label:hover {
//  color: rgba(255, 255, 255, 0.5);
//  background: #030303;
}

nav.navigation li a:hover {
 //   border-bottom:1px solid #000;
 //   padding-bottom: 2px;
}
//nav.navigigation > ul > li > a{background:red}

nav.navigation li {
    display:block;
    padding: .4rem 1rem .4rem 1rem;
    list-style: none;
    // margin-left:30px;
    //text-align:center;

   // margin-bottom:1px;
   padding-bottom:0

// box-shadow: 0 -1px 0 #000;
   border-bottom:1px solid var(--border);

}
/*
   these two lines just make sure that they all have a border
   except the last items in the main menu. those have no border
   cause it looks better
*/
nav.navigation ul li:last-of-type{border:0;}
nav.navigation ul > ul > li:last-of-type{;border-bottom:1px solid var(--border)}

// nav.navigation li a.active {}
nav.navigation li:hover {background:var(--button)}

nav.navigation li a.selected { 
    //color: var(--primary);
    //opacity:0.6;
    //color: lighten(var(--content),90%);
    font-weight:bold;
    color:#e5512d;
 
}
nav.navigation li a.selected:hover {
    opacity:0.8;
}

nav.navigation li a:hover {
   // color:#E5512D;
 //   border-bottom:1px solid #E5512D;
}


nav.navigation ul {
     text-transform: uppercase;
     font-size: 0.8rem;
     letter-spacing:1px;
     //  background:red;
}
nav.navigation ul ul {
 // margin-left:30px;
 // color: #6c757d;
  font-size:0.9rem;
  text-transform: lowercase;
  letter-spacing:0;
  padding-left:1rem;
}

nav.navigation button.button {background:none;width:100%;margin-top:0;outline:0}

nav.navigation ul ul li a {}

//nav.navigation li {padding-bottom:0}
//nav.navigation a.button {padding-bottom:0}


section.sidebars {
    background:var(--sidebarBg);
    padding:calc(var(--gutter) * 1);
}

.sidebars .book-button {background:var(--theme)}
.sidebars .book-button:hover {filter:brightness(130%);}


.sidebars p {}

.sidebars h2,
.sidebars a{}
.sidebars a.button {}




.latest-newsletters p {
    //font-size:.9rem;
    margin-top: calc(var(--gutter)*.75);
    margin-bottom:calc(var(--gutter) * 2)}

/*GrayScale*/
.grayscale img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.grayscale:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

body.dark .grayscale img {
    -webkit-filter: sepia(50%);
    filter: sepia(50%);
}
body.dark .grayscale:hover img {
    -webkit-filter: sepia(0);
    filter: sepia(0);
}



/*
   a row of buttons. 
   example: VIEW, SHARE, SEND buttons
   and the CARD title
*/

.buttons h1{
    //margin:1.5em 0;
}
.buttons {
    display: inherit;
    justify-content: space-between;
    //margin-top: calc(var(--gutter) * 1);
    //margin-bottom: calc(var(--gutter) * 1);
    margin: 1.5em 0;
    align-items: center;
}

.buttons .label {
    font-size:0.7rem;
    font-weight:700;
    padding:0;
    margin:0;
    letter-spacing:5px;
    opacity: 0.4;
}
.buttons .title h1{margin:0 0 1.5rem 0;padding:0;font-size:1.3rem;}
