/* variables */
:root{
    --gutter:1%;
/* --code-bg:#fff; */

}

@media screen and (min-width:768px) {
    :root {
     --gutter:2%
    }
    
}
@media screen and (min-width:1200px) {
    :root {
     --gutter:3%
    }
    
}
@media screen and (min-width:1600px) {
    :root {
     --gutter:4%
    }
    
}

.no-tiny {display:none !important} /* no-tiny is used to remove elements
                                      like the book cover in the newsletter-suscribe area
                                      on the really small
                                      resolutions
                                  */

.no-mobile {display:none !important}
.mobile {display: block !important}


@media screen and (min-width:500px) {
   .no-tiny {display: block !important}
}

@media screen and (min-width:768px) {
    .no-tablet {display:none !important}
    .tablet {display:block !important}
}
@media screen and (min-width: 1200px) {
    .no-laptop{display:none !important}
    .laptop {display:block !important}
    /*
    .no-tablet .no-desktop, no-widescreen {display:none}
    .desktop, .widescreen {display:block !important}
    */
}
@media screen and (min-width: 1600px) {
    .no-desktop{display:none !important}
    .desktop {display: block !important}
}

@media screen and (min-width:1920px) {
    .no-wide {display:none !important}
    .wide {display:block !important}
}



.center-vertically {
    justify-content:center
}

  
  .padding-left {
      padding-left:calc(var(--gutter) * 2);
      justify-content: center;
  }
  .padding-right {
      padding-right:calc(var(--gutter) *2);
      justify-content: center;
  }
  .padding-bottom {
      padding-bottom:calc(var(--gutter) *2);
  }
  
  .text-align-right {
      text-align:right;
  }
  
  hr {
      margin: var(--gutter) 0;
      color: var(--border);
  }

  .flexbox .input {
      
      font-size:14px;
      padding: 6px 10px;
  }


  
section.sidebars img {
   width: inherit;
  object-fit: cover;
 }

header.header .bottom {
      
    font-size:0.9rem;
}
header.header .bottom svg {
    margin-right:0.5rem;
    top:10px;
}



footer.footer {
    padding-top:0.4rem;
    padding-bottom:0.6rem;
    background:#000;
    color:#ccc;
}

footer.footer a {color:#fff}
footer.footer a:hover {color:var(--highlight)}


a:hover {transition:0.3s;}

  


figure{    /* this is the container
	      holding an ecard
	      it always needs a sizeable margin below
	  */

}

figure figcaption {
 margin-bottom: calc((var(--gutter)) * 2);
}

/*
   this is the picture image,
   generated by an img-simple
   shortcode

  i dont know if its being used!
*/

picture.img-simple img {
    margin-bottom:1rem;
}



figcaption{}



                    /*
                    this is used by LATEST BLOGS
                    and BOOKS (thumb and teaser)
		   */
  .flexbox {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;  
   margin-bottom: var(--gutter);
  }

  /*
     this goes inside the flexbox. like a column.
    put as many inside as you want.
 */
  
  .box {
   display: flex;
   flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
       /* standard
          sized will create equal-sided columns.
       */

  .box-1 {flex: 1;}
  .box-2 {flex: 2}
  .box-3 {flex: 3}
  .box-4 {flex: 4}



