
/* this is the card view, ie. image over the top of the description */


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cards::after { /* this makes the final wrongcard
                   in the list float to the left.
		   WARNING: without this, it looks weird
	       */
  content: '';
  flex: auto;
}

/* this is the side-by-side card view */

/* see: layouts/partials/teasers/side-by-side.html */

figure.side-by-side{
    align-items: flex-start;    
}

figure.side-by-side > div img{

}

figure.side-by-side figcaption {
   
}

/*
  ON THE LIST PAGE, MAKE THE CATEGORY DESCRIPTION FULL WIDTH
  ON MOBILE DISPLAY
*/

  body.list .description-area .box-4 {
     flex: 100%;
  }

  
@media screen and (min-width: 768px) {

    /* ON THE LIST PAGE, MAKE THE DESCRIPTION 2/3s WIDTH
       ON THE TABLET and DESKTOP PAGE */
    
  body.list .description-area .box-4 {    
     flex: 4;
     padding-right: var(--gutter);
  }
  
}

@media screen and (min-width:1600px) { /* DESKTOP with */
  
  
  
     /* CARDS ARE NOW HALF_SIZED */
    .card{
     width:50%;
    }
    
   .card:nth-child(1), .card:nth-child(3), .card:nth-child(5), .card:nth-child(7), .card:nth-child(9), .card:nth-child(11) {
       // background: green;
       padding-right: calc( var(--gutter) / 2);
   }
   .card:nth-child(2), .card:nth-child(4), .card:nth-child(6), .card:nth-child(8), .card:nth-child(10), .card:nth-child(12) {
       padding-left: calc( var(--gutter) / 2);
   }


}

@media screen (min-width: 1900px) {


}
