
/* by default, the tablet/desktop header should be turned off */

header.header {
    display:none;
}


/* Header on mobile width*/

header.mobileMenu {

    
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  background: var(--theme);
  z-index:1000;
  //font-size:1rem;
  padding:15px 3% 15px 3%;
  //background:black;
  border-bottom:1px solid var(--content);
  //display: flex;
  
}

header.mobileMenu a.logo {
    //height:52px;
    width:200px;
    padding:0;
     margin-left:0;
}

/* the mobile 'menu' button */

header.mobileMenu button.menu-button {
    background:var(--theme);
    outline: 1px solid var(--content);
    color:var(--content);
}

/* THIS IS THE BUTTONS */

ul.mobile-menu {
    list-style-type:none;
}
nav.navigation ul.mobile-menu ul {
    margin-left:0
}

nav.navgiation ul.mobile-menu li{
    padding:0;
    margin-bottom:3px;
}

nav.navigation ul.mobile-menu li a.button{
   // padding-top:.5rem;
   // padding-bottom:.5rem;
    margin:0;
}
nav.navigation ul.mobile-menu a.selected {
    //background:#eee;
    //border-bottom:none;
}

ul.mobile-menu li a.button:hover{
    //background:#000;
    //color:#fff;
    border-bottom:none;
}

 /* this makes sure the theme toggle looks right */
 .modal-window.large #theme-toggle {width:100%}

 header.mobileMenu .mobile-container {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 700px;
  padding: 0 1.5rem 2rem 1.5rem;
  margin: 0 auto;
  border-bottom: 1px solid #e0e5eb;
  background: #fafafa;
}


.modal-window.large {
    font-size:16px;
    margin:1rem;
    min-height:calc((100vh) - 2rem);
}

/* Media queries */
@media only screen and (min-width: 960px) {

    header.mobileMenu {display:none}
    header.header{display:block}
}
