:root {
/* --modalBg:var(--theme); */

}
/*

   
*/



/* modal to be put in its own file */


/* modal stuff
* this was from https://www.cssscript.com/demo/simplest-modal-component-pure-javascript/
*/

.modal a.button {
    width:100%;
    text-align:center;
    margin-bottom:10px;
    //font-size:15px;
}
.modal .row {
    margin-top: calc(var(--gutter) * 1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;

    text-align: center;
}


@media only screen and (min-width: 992px) {
  .modal-window {
    width:50%
  }
  .modal-window.small {
    width: 30%;
  }

  .modal-window.large {
      width: 75%;
  }
}

.modal-window {
    position: relative;
    background-color: var(--theme);

    margin: 10% auto;
    padding: 20px;
}

.modal-window.small {

}


.close {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0,0,0,0.3);
    height: 30px;
    width: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000000;
    cursor: pointer;
}

.open {
    display: block;
}

.bordered {
    padding:1rem 3rem 4rem 3rem;
}

/*
* button colors on modal
*/

/* this is still SASS, fix it if you want to use it.

/*

body,body.dark {
  .modal-window {
    background:#000;
    border:1rem solid #fff;
    color:#fafafa;
    }
  .btn.bg-facebook{
    background:#3b5998;
  }
  .btn.bg-twitter{
    background:#55acee;
  }
  .btn.bg-tumblr{
    background:#32506d;
  }
  .btn.bg-pinterest{
    background:#cb2027
  }
  a.btn.bg-facebook,
  a.btn.bg-twitter,
  a.btn.bg-pinterest,
  a.btn.bg-tumblr{
   color:#fff !important;
   &:hover{opacity:0.9}

  }
}



.btn-primary {
  @include button-variant(#bb2d3b, #bb2d3b);

  color: #fff !important;
}
*/
