/*
the form and box gets its layout properties from
.flexbox and .box and .box-1 and .box-3
in the layout.css
*/


/* MAIN subscribe boxes appare in middle of the page.
   SIDEBAR subscribe boxes off to the righ
*/



.main-subscribe-box {
   margin-top: 1em;
   margin-bottom: 2em;
   //background:red;
   border-top:   1px solid var(--border);
   border-bottom:1px solid var(--border);
   padding-top:    2em;
   padding-bottom: 2em;
}

  /* category page doesnt need top and bottom borders */
.list .main-subscribe-box {
     border:none;
}


/* puts some space around the subscribe box on the category page */

@media screen and (min-width: 1500px) {

    .list .main-subscribe-box {
        margin-left:calc(var(--gutter)*5);
        margin-right:calc(var(--gutter)*5);
     }

}


.sidebar-subscribe-box h2 {color:var(--secondary);}


.main-subscribe-box form,
.sidebar-subscribe-box form {
    display: flex; 
    grid-column: 2;
}
.main-subscribe-box input,
.sidebar-subscribe-box input {

    flex-grow: 1;
    padding: 0.5em 0.75em;
//    border-radius:6px;
    margin-right:2px;
    //paddding-left:4px;
   
}


.main-subscribe-box button,
.sidebar-subscribe-box button {
   
     padding: 0.5em 0.75em;
}



.main-subscribe-box input.input,
.sidebar-subscribe-box input.input {
    font-size:1.1rem;
}







.main-subscribe-box button,
.sidebar-subscribe-box button{
    border-radius:0;
    font-size:1.1rem;
}

.sidebar-subscribe-box button,
.main-subscribe-box button {
    background: var(--primary);
    color:var(--theme);
}

.sidebar-subscribe-box button:hover,
.main-subscribe-box button:hover{
    
    opacity:.9;
}




 form {
    outline:1px solid var(--content);
}

.main-subscribe-box input,
.sidebar-subscribe-box input {
    color: var(--content);
}

@media screen and (min-width: 1199px) {

}
