/* sd */
/* page layout */
/* from here https://codepen.io/egrendon/pen/BQrrWp */
.wrapper{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

.content {
    display:flex;
    flex: 1;
    
}
.columns {
    display: flex;
    flex:1;
}


header.header {
 /* REMEMBER, header.header media queries are in mobile-header.css */   
    
   min-height:100vh;

  // position: fixed; /* because this fixes the menu in place,*/
   flex-direction:column;
   width:26%;
   order:1;
  
   display:none;
}
.fixed  {
    position:fixed;
    //top: 0px;
    width: inherit;
  
}

.row {
    flex:1;
    order:1;
}

main.main { /*
	
		padding becomes 0 when it stops being mobile.
		columns then appear, and padding comes
		from sidebars.
	   */
    padding: 3%;

    flex:1;
    order: 2;
    
}



  section.sidebars {
      display:none;
      order: 3;
  }

  
@media screen and (min-width: 768px) { /* TABLET WIDTH */


    main.main {
	padding-left:var(--gutter);
	padding-top:0;
	//padding-left:0;
	padding-right:var(--gutter);

	//width:15%;

    }
    

.hero div {display: flex; flex:1}

    

      /* this is the left column,
         with the logo and category menu
       */





      /* middle, main colummn */
main.main{
   
 // max-width:100%; /* overwrites something in master template */
  //margin: var(--gutter) 0;

//  margin-left:calc(200px + (1 * var(--gutter))); 

  padding-right: var(--gutter);
  margin-top: var(--gutter);
}



 
} /* end mediaquery 768 TABLET */


@media screen and (min-width: 960px) { /* LAPTOP WIDTH */

    header.header {
	display:block;
	width:23%;

 //  width: calc(200px + var(--gutter));
  //width: 200px; /* width of logo image, fyi */
  overflow: auto;
  //margin: var(--gutter);
  padding-top: var(--gutter);
  padding-right:calc(var(--gutter)*0.5);
  padding-left:calc(var(--gutter)*0.5);
  padding-bottom: var(--gutter);

  //OAwidth:26%;

    }
    .fixed {width:18%}

}

@media screen and (min-width: 1400px) { /* LAPTOP WIDTH */


    header.header {
	width:20%;
    }
    .fixed {width:16%;}
      main.main {


      }
     

  section.sidebars{
      display:block;
      width:20%;
  }

    
} /* end 1200 */

@media screen and (min-width: 1600px) { /* DESKTOP */

    header.header {
	width:19%;
    }
    .fixed {
	width:15%;
    }
    
      main.main {

      }
      
    section.sidebars {
	width:41%;
    }
    body.list section.sidebars {
	width: 25%;
    }
}

@media screen and (min-width: 1900px) {


    header.header {
	width:17%;
    }
    .fixed {
	width:13%;
    }
    
    section.sidebars {

    }

    /* is it a category page? body class is 'list' */
    body.list section.sidebars {

    }

    /* sidebar width of FRONTPAGE set like this */
    /*
     body.frontpage section.sidebars {
	
     }
    */
}
