root{
--theme: #fff;
--primary: #000;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 20px;
    line-height: 46px;
    background: var(--primary);
   // border-radius: calc(36px / 2);
   border-radius: calc(46px /2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}


.paginav {
    margin:0 0 10px 0;
    display: flex;
//    line-height: 30px;
    border-radius: var(--radius);
}

.paginav a {
  //  padding-inline-start: 14px;
  //  padding-inline-end: 14px;
    border-radius: var(--radius);
}

.paginav .title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;
    color: var(--secondary);
}

.paginav .prev,
.paginav .next {
    width: 50%;
}

.paginav span:hover:not(.title) {
    box-shadow: 0 1px 0;
}

.paginav .next {
    margin-inline-start: auto;
    text-align: right;
}

[dir="rtl"] .paginav .next {
    text-align: left;
}
