:root {
    /*
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;

    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);

   */
    --theme: #fff;
    --entry: rgb(255, 255, 255);
    --button: #fafbfc;
    --sidebarBg: #eaeaea;
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --border:  #ddd;  // rgb(238, 238, 238);
    --highlight: #e5512D;  /* orange from HSF book cover */
}

.dark {
    --theme: #22191B;     # rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --button: #352C2D;
    --sidebarBg: #352C2D;
    --secondary: #ff7597;
    --primary: #88d9e0; //  #ff0266;
    --tertiary: #ff0266; // rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --border: rgb(51, 51, 51);
    --highlight: #FF7597;
}

body.list {background:var(--theme)}

body {
//    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height:1.8;
}
/*
.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
