:root {
    
}
html {
    line-height:3;
    // font-size:18px;
    
}
body {
    
        font-weight: normal;
	line-height: 1.8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//color:blue;
	//color: var(--content);
}



@media screen and (min-width: 768px) {
    html {
	font-size: 15px;
    }

    
}


@media screen and (min-width: 1900px) {
    html {
	font-size: 18px;
    }
}





/*
 category description only appears on top of list pages
 links in the description needed some emphasis
*/


.category-description a:link, .category-description a:visited {
    //background:#E5512D;
    padding:2px;
    color: var(--primary);
    border-bottom:1px solid var(--primary);
}
.category-description a:hover {
    color:var(--highlight);
    border-bottom:1px solid var(--highlight);
}



/* top of list pages  */
.category-description {
    
    margin-bottom: calc((var(--gutter) * 1));
}

h1,h2,h3,h4,h5,h6 { 
    margin:0 0 2rem 0;
}

h1 {
    font-size:2.5rem;
}
h1 small {
    font-size:1rem;
    font-weight:200;
}

h3 {
    font-size: 1.5rem;
    font-weight:300;
}

   h4 {
       font-size:1.2rem;
       font-weight:300;
     letter-spacing:2px;
     text-align:right;
     border-bottom:1px solid var(--content);
     padding-bottom:3px;
     color: var(--content)
    }

   
@media screen and (max-width: 767px) { 

    h1.hero {
	line-height:1em;/* frontpage 'free ecards, no ads' */
	
    }
  

 


  /* h1 is PluralTitle on category list pages */
h1 {font-size:2.2rem;} 

}

@media screen and (min-width:768px) {
  /* h1 is PluralTitle on category list pages */
 
}

@media screen and (min-width:1200px) {

}



h1.hero {
    margin-bottom:1.5rem;
}
p.hero a {
    padding-bottom:2px;
    color: var(--highlight);
    border-bottom:1px solid var(--highlight);
}
p.hero a:hover {
    //color: lighten(var(--highlight), 1%);
    //border-bottom:1px solid lighten(var(--highlight), 1%);
    opacity:0.75;
}

   /*
     h4 is LATEST NEWSLETTERS (top right)
    */
h4 {
    font-size:1.3rem;
}

figcaption {
}


p {
    margin-bottom:1.5rem;
}

.small-text { /* used by 'figcaption' in 'side-by-side' ecard display, used on front page */
    font-size:1rem;
  
}

figcaption {

}

ol.breadcrumbs {}

.breadcrumbs {
    padding: 0 .5rem;
}

ol.breadcrumbs  {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
   // text-transform:uppercase;
   font-size:0.9rem;
   margin-bottom:calc(var(--gutter) *.5);
   text-transform: capitalize;
}
    
ol.breadcrumbs li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
}
ol.breadcrumbs li a {color:var(--secondary);}
    

