<!--

    Notice: the title is grabbing params from:
            content/_index.md

-->

{{ $title := .Params.Title }}
{{ $og_title := .Params.og_title }}
{{ $og_description := .Params.og_description }}
{{ $metaDescription := .Params.meta_description }}
{{ $siteName := site.Params.Title }}

{{ $image := site.Params.seo.logo_large }}
{{ $image := print $image | print site.BaseURL }}
{{ $image_alt := site.Params.seo.logo_large_alt }}

<title>{{ $title }}</title>
<meta name="title" property="{{ $title }}" />

<meta name="twitter:title" content="{{ $og_title }}" />
<meta property="og:title" content="{{ $og_title}}" />
      
<meta name="application-name" content="{{ $siteName }}" />
<meta property="og:site_name" content="{{ $siteName }}" />
<meta property="og:locale" content="en_us" />

{{ with .Params.keywords -}}<meta name="keywords" content="{{- range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">{{ end }}


<meta name="description" content="{{ $metaDescription }}">
<meta property="og:description" content="{{ $og_description }}">
<meta name="twitter:description" content="{{ $og_description }}">



<meta property="og:type" content="website" />


<meta name="author" content="{{ (partial "author.html" . ) }}">
<meta property="article:author" content="{{ .Site.Params.facebookAuthor }}" />
<meta property="article:publisher" content="{{ .Site.Params.facebookPublisher }}" />

 
{{ with .Site.Params.facebook_admin -}}
  <meta property="fb:admins" content="{{ . }}">
{{ end -}}
{{ with .Site.Params.facebook_app_id -}}
  <meta property="fb:app_id" content="{{ . }}">
{{ end -}}


<link rel="canonical" href="{{ if .Params.canonicalURL -}} {{ trim .Params.canonicalURL " " }} {{- else -}} {{ .Permalink }} {{- end }}" />
<base href="{{ .Permalink }}" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="og:url" content="{{ .Permalink }}" />


{{ $facebookImage := $image }}
{{ $twitterImage := $image }}

{{/*
<!-- dont need this, as its just a simple image not needing resized -->

{{ $scratch := newScratch }}
{{ $scratch.Add "image" $image }}
{{ $image := $scratch.Get "image" }}
{{ $facebookImage := resources.Get $image }}


{{ $facebookImage := $facebookImage.Resize .Site.Params.facebookImageSettings }}
{{ $scratch.Set "facebookImage" $facebookImage.Permalink }}
{{ $facebookImage := $scratch.Get "facebookImage" }}

{{ $twitterImage := resources.Get $image }}
{{ $twitterImage := $twitterImage.Resize .Site.Params.twitterImageSettings }}
{{ $scratch.Set "twitterImage" $twitterImage.Permalink }}
{{ $twitterImage := $scratch.Get "twitterImage" }}
*/}}

<meta property="og:image" content="{{ $facebookImage }}">
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $twitterImage }}" />
<meta name="twitter:image:src" content="{{ $twitterImage }}" /> 
<meta name="twitter:image:alt" content="{{ .Params.alt_tag }}" />
<meta name="twitter:creator" content="@stgabriel" />
<meta name="twitter:site" content="@wrongcards" />  



{{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}

<meta property="og:updated_time" content="{{ .Site.Params.lastUpdated  }}">

	   
    {{ with .Params.keywords -}}
      {{ range first 6 . -}}
        <meta property="article:tag" content="{{ . }}">
      {{ end -}}
    {{ end -}}



<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@graph": [
    {
      "@type": "WebPage",
      "author": {
        "@id": "{{ site.BaseURL}}#identity"
      },
      "copyrightHolder": {
        "@id": "{{ site.BaseURL}}#identity"
      },
	"copyrightYear": "{{ site.Params.seo.site_founded_date | time.Format "2006"}}",
      "creator": {
        "@id": "{{ site.BaseURL}}#creator"
	},
	{{ if isset site.Params "lastUpdated" }}"dateModified": "{{ site.Params.lastUpdated }}",{{ end }}  
	"datePublished": "{{ site.Params.seo.site_founded_date }}",
      "description": "{{ .Params.description }}",
	"headline": "{{ .Params.og_title }}",
      "image": {
        "@type": "ImageObject",
          "url": "{{ $image }}"
      },
      "inLanguage": "en-us",
      "mainEntityOfPage": "{{ site.BaseURL}}",
	"name": "{{ .Params.og_title }}",
      {{ if site.Params.seo.enableSearch }}"potentialAction": [
        {
          "@type": "SearchAction",
          "target": {
            "@type": "EntryPoint",
            "urlTemplate": "{{ site.BaseUrl }}search/?s={search_term_string}"
          },
          "query-input": "required name=search_term_string"
        }
      ],{{ end }}	
      "publisher": {
        "@id": "{{ site.BaseURL}}#creator"
      },
      "url": "{{ site.BaseURL}}"
    },
    {
      "@id": "{{ site.BaseURL}}#identity",
      "@type": "Organization",
     {{/* "address": [
        {
          "@type": "PostalAddress",
          "addressLocality": "Seattle",
          "addressRegion": "WA",
          "name": "Moz Seattle",
          "postalCode": "98107",
          "streetAddress": "1752 NW Market Street #4073"
        },
        {
          "@type": "PostalAddress",
          "addressCountry": "Canada",
          "addressLocality": "Vancouver",
          "addressRegion": "BC",
          "name": "Moz Vancouver",
          "postalCode": "V6Z 1A1",
          "streetAddress": "400 - 720 Robson St"
        }
      ],*/}}
      "image": {
        "@type": "ImageObject",
        "height": "{{ site.Params.seo.logo_large_height }}",
          "url": "{{ site.BaseURL}}{{ site.Params.seo.logo_large }}",
          "width": "{{ site.Params.seo.logo_largewidth }}"
      },
      "logo": {
        "@type": "ImageObject",
          "height": "{{ site.Params.seo.logo_height }}",
          "url": "{{ site.BaseURL}}{{ site.Params.seo.logo }}",
          "width": "{{ site.Params.seo.logo_width }}"
      },
      "name": "{{ site.Params.seo.name }}",
	"sameAs": {{ site.Params.seo.sameAs }},
      "url": "{{ site.BaseURL }}"
    },
    {
      "@id": "{{ site.BaseURL}}#creator",
      "@type": "Organization",
      "image": {
        "@type": "ImageObject",
         "height": "{{ site.Params.seo.logo_large_height }}",
          "url": "{{ site.BaseURL}}{{ site.Params.seo.logo_large }}",
          "width": "{{ site.Params.seo.logo_large_width }}"
      },
      "logo": {
        "@type": "ImageObject",
        "height": "{{ site.Params.seo.logo_height }}",
          "url": "{{ site.BaseURL}}{{ site.Params.seo.logo }}",
          "width": "{{ site.Params.seo.logo_width }}"
      },
      "name": "{{ site.Params.seo.name }}",
      "url": "{{ site.BaseURL }}"
    },
    {
      "@type": "BreadcrumbList",
      "description": "Breadcrumbs list",
      "itemListElement": [
        {
          "@type": "ListItem",
          "item": "{{ site.BaseURL }}",
          "name": "Homepage",
          "position": 1
        }
      ],
      "name": "Breadcrumbs"
    }
  ]
}
</script>
	
{{/*	
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Website",
  "headline": "{{ $title }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
    {{ if isset site.Params "lastUpdated" }}"dateModified": "{{ site.Params.lastUpdated }}",{{ end }}  
    "image": "{{ $twitterImage }}",
    "copyrightNotice": "{{ site.Params.author }}",
    "genre": "Humor",
    "keywords": "{{ with .Params.keywords -}}{{- range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}{{ end }}",
    "description": "{{ $metaDescription }}",
    "url": "{{ .Permalink }}",
  "publisher": {
    "@type": "Organization",
      "name": "{{ .Site.Params.title }}"
  }
}
</script>    

	
*/}}
