
{{ $title := print site.Params.title | print " by " | print .Parent.Params.singleName | print " | " | print .Params.title | }}
{{ $ogTitle := print .Params.title }}
{{ $ogDescription := print .Params.subtitle }}
{{ $twitterTitle := print site.Params.title | print " - " | print .Params.title }}
{{ $siteName := print site.Params.siteName }}
{{ $siteDescription := print site.Params.description }}



{{/*
   Check if 'meta_description' param is set. If so, use it. If not, use 'subtitle'.

   Use $metaDescription in JSON+LD.
   $ogDescription is short, pithier. Use it for og:description.
   $title and $ogDescription should be thought of as 'click bait' (in my opinion)

*/}}

{{ if (not (isset .Params "meta_description")) }}
  {{ $.Scratch.Set "metaDescription" .Params.subtitle }}
{{ else }}
  {{ $.Scratch.Set "metaDescription" .Params.meta_description }}
{{ end }}

{{ $metaDescription := $.Scratch.Get "metaDescription" }}


{{ $articleSection := .Parent.Params.title }}
{{/*
     metatype is either 'ShortStory', 'Article', or 'Blog', and
     is used in the JSON-LD section
*/}}
{{ $metaType := print .Parent.Params.metaType }}
{{ $ogType := "article" }}
{{ $wordCount := .Content | countwords }}


<title>{{ $title }}</title>
<meta name="title" property="{{ $title }}" />
<meta property="og:title" content="{{ $ogTitle }}" />
<meta name="twitter:title" content="{{ $twitterTitle }}" />
<meta property="og:site_name" content="{{ $siteName }}" />

{{/*
   the next several lines basically concatenate the
    .Params.tags
    site.Params.keywords
   and range through 10 (ten) of them, for the metatags.
   Because apparently you need ten keywords basically

  Note: blog 'tags' are used for internal search and 'show related content'.
        blog 'keywords' are or SEO, and shown in the keywords metatags.

*/}}

{{ $.Scratch.Set "tags" slice }}
{{ range .Params.keywords }}{{ $.Scratch.Add "tags" . }}{{ end }}
{{ range site.Params.keywords }}{{ $.Scratch.Add "tags" . }}{{ end }}
{{ $allTags := $.Scratch.Get "tags" }}
<meta name="keywords" content="{{- range $i, $e := first 10 $allTags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">

<meta name="description" content="{{ $metaDescription }}" />
<meta property="og:description" content="{{ $metaDescription }}" />
<meta name="twitter:description" content="{{ $metaDescription }}" />


<meta property="og:type" content="{{ $ogType }}" />

<meta property="article:section" content="{{ $articleSection }} ">

<meta name="author" content="{{ (partial "author.html" . ) }}" />
<meta property="article:author" content="{{ .Site.Params.facebookAuthor }}">
<meta property="article:publisher" content="{{ .Site.Params.facebookPublisher }}">


{{ with .Site.Params.facebook_admin -}}
  <meta property="fb:admins" content="{{ . }}">
{{ end -}}

  
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- if and (gt (len $pages) 1) (in $pages . ) }}
    {{- with $pages.Prev . }}
     <link rel="prev" href="{{ .Permalink }}">
    {{- end }}
    {{- with $pages.Next . }}
     <link rel="next" href="{{ .Permalink }}">
    {{- end }}  
  {{- end }}
  


<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<base href="{{ .Permalink }}" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta property="og:url" content="{{ .Permalink }}" />

{{ $scratch := newScratch }}

 {{ if .Params.image}}
  {{ $path :=  print .Params.image | print "images/covers/" }}
  {{ $image := resources.Get $path }}
  {{ $.Scratch.Set "image" $image }}
{{ else }}
  {{ $.Scratch.Set "image" "images/theme/avatar.png"}}
{{ end }}

  {{ $image := $.Scratch.Get "image" }}

{{/*
  <h1>{{$image}}</h1>
  {{$facebookImage := $image }}
  {{$twitterImage := $image}}
*/}}

  {{ $facebookImage := resources.Get $image }}
  {{ $facebookImage := $facebookImage.Resize .Site.Params.facebookImageSettings }}
  {{ $scratch.Set "facebookImage" $facebookImage.Permalink }}
  {{ $facebookImage := $scratch.Get "facebookImage" }}
  {{ $twitterImage := resources.Get $image }}
  {{ $twitterImage := $twitterImage.Resize .Site.Params.twitterImageSettings }}
  {{ $scratch.Set "twitterImage" $twitterImage.Permalink }}
  {{ $twitterImage := $scratch.Get "twitterImage" }}

<meta property="og:image" content="{{ $facebookImage }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $twitterImage }}" />
<meta name="twitter:image:src" content="{{ $twitterImage }}" />

{{ if isset .Params "image_alt" }}<meta name="twitter:image:alt" content="{{ .Params.image_alt }}" />{{ end }}
<meta name="twitter:creator" content="@stgabriel" />
<meta name="twitter:site" content="@wrongcards" />  


{{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}

{{ $publishedTime := .PublishDate.Format $iso8601 | safeHTMLAttr }}
{{ $reviewedTime := .Lastmod.Format $iso8601 | safeHTMLAttr }}

{{/*
   $publishedYear used by schema.org, below
*/}}
{{ $publishedYear := .PublishDate.Format "2006" }}


  {{ if not .PublishDate.IsZero -}}
    <meta property="article:published_time" {{ $publishedTime }}>
  {{ else if not .Date.IsZero -}}
    <meta property="article:published_time" {{ $publishedTime }}>
  {{ end -}}


    {{ if not .Lastmod.IsZero -}}
    <meta property="article:modified_time" {{ $reviewedTime }}>
  {{ end -}}

  {{ if not .Lastmod.IsZero -}}
    <meta property="og:updated_time" {{ $reviewedTime }}>
  {{ end -}}


  {{/*
    CLEVER: Adds the 'related' wrongcards, via emtatags, to the og:see_also meta property
  */}}

	{{ $related := first 6 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
	{{ with $related }}
          {{ range . }}
	   <meta property="og:see_also" content="{{ .Permalink }}">
	  {{ end }}
	{{ end }}
{{/*

	   Next bit goes through $allTags, takes first 6 meta tags.
	   Remember: $allTags is both the blog's tags AND the site tags, concatenated together.
	   
*/}}
    {{ with $allTags -}}
      {{ range first 6 . -}}
        <meta property="article:tag" content="{{ . }}">
      {{ end -}}
    {{ end -}}




	


{{/*

	TODO: LOOK AT THE SCHEMA ON A YOAST BLOG ENTRY BECAUSE I THINK WE SHOULD FILL OUT THE PUBLISHER AREA (LAST ENTRY ) IN THE SAME WAY, WITH ALL THEIR FIELDS, EXCEPT USING TRICKYDUCK.COM

*/}}




<script type="application/ld+json">
{
  "@context": "https://schema.org",
    "@graph": [
      {	
	  "type": "BlogPosting",
	  "@id": "{{ .Permalink }}#article",
	  "isPartOf": {
	      "@id": "{{ .Permalink }}"
	  },
	  "author": {
	      "name": "{{ site.Params.seo.name }}",
	      "@id": "{{ site.Params.seo.aboutPage }}",
	      "url": "{{ site.Params.seo.aboutPage }}"
	  },
	  "headline": "{{ $ogTitle }}",
	  "articleBody": "{{ .Params.description | plainify }} {{ .Content | plainify }}",
	  "datePublished": "{{ $publishedTime }}",
          "dateModified": "{{ $reviewedTime }}",
          "isFamilyFriendly": "true",
	  "mainEntityOfPage": {
	      "@id": "{{ .Permalink }}"
	  },
	  "wordCount": {{ $wordCount }},
	  "publisher": {
	      "@id": "{{ .Site.BaseURL}}#organization"
          },
	  "image": {
	      "@id": "{{ .Permalink }}#primaryimage"
	  },
	  "thumbnailUrl": "{{ $twitterImage }}",
	  "keywords": [ {{- range $i, $e := first 10 $allTags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} ],
	  {{if site.Params.enableComments }}
	  "potentialAction": [
              {
		  "@type": "CommentAction",
	          "name": "Comment",
	          "target": [
		      "{{ .Permalink }}#comment"
	      ]
	    }
	  ],
	  {{ end }}
	  "inLanguage": "en-US",
	  "copyrightYear": "{{ $publishedYear }}",
	  "copyrightHolder": {
	      "@id": "{{ .Site.BaseURL }}#organization"
	  } 
      },
	{
            "@type": "WebPage",
	    "@id": "{{ .Permalink }}",
	    "url": "{{ .Permalink }}",
	    "name": "{{ $ogTitle }}",
	    "isPartOf": {
                "@id": "{{ .CurrentSection.Permalink }}"
	    },
	    "primaryImageOfPage": {
		"@id": "{{ .Permalink }}#primaryimage"
	    },
	    "image": {
		"@id": "{{ .Permalink }}#primaryimage"
	    },
	    "thumbnailUrl": "{{ $twitterImage }}",
	    "datePublished": "{{ $publishedTime }}",
	    "dateModified": "{{ $reviewedTime }}",
	    "description": "{{ $ogDescription }}",
	    "breadcrumb": {
		"@id": "{{ .Permalink }}#breadcrumb"
	    },
	    "inLanguage": "en-US",
	    "potentialAction": [
		{
		    "@type": "ReadAction",
		    "target": [
			"{{ .Permalink }}"
		    ]
		}
	    ]
	},
	{
	    "@type" : "ImageObject",
	    "inLanguage": "en-US",
	    "@id": "{{ .Permalink }}#primaryimage",
	    "url": "{{ $twitterImage }}",
	    "contentUrl": "{{ $twitterImage }}",
	    {{ if isset .Params "image_alt" }}"caption": "{{ .Params.image_alt }}",{{ end }}
	    "width": 1200,
	    "height": 630

	},

	{
	    "@type": "BreadcrumbList",
	    "@id": "{{ .Permalink }}#breadcrumb",
	    "itemListElement": [
		{
		    "@type": "ListItem",
		    "position": "1",
		    "name": "Home",
		    "item": "{{ .Site.BaseURL }}"
		},
		{
		    "@type": "ListItem",
		    "position": "2",
		    "name": "{{ with .CurrentSection }}{{ .Params.og_title }}{{ end }}",
		    "item": "{{ .CurrentSection.Permalink }}"
		},
		{
		    "@type": "ListItem",
		    "position": "3",
		    "name": "{{ .Title }}"
		}



	    ]

       },
       {
         "@type": "WebSite",
         "@id": "{{ site.BaseURL }}#website",
         "url": "{{ site.BaseURL }}",
         "name": "{{ site.Params.seo.title }}",
         "desription": "{{ site.Params.seo.description }}",
         "publisher": {
           "@id": "{{ site.BaseURL }}#organization"
          },
         {{ if site.Params.seo.enableSearch }}
         "potentialAction": [
            {
              "@type": "SearchAction",
              "target": {
                "@type": "EntryPoint",
                "urlTemplate": "{{ site.BaseURL}}search/?s={search_term_string}"    
              },
             "query-input": "required name=search_term_string"
            }
     
         ],{{ end}}
         "inLanguage": "en-US",
         "copyrightHolder": {
           "@id": "{{ site.BaseURL }}#organization"
         }

       },
        {
         "@type": [
           "Organization",
           "Brand"
         ],
         "@id": "{{ site.BaseURL }}#organization",
         "name": "{{ site.Params.seo.publisher.name }}",
         "url": "{{ .Site.Params.seo.publisher.url }}",
         "logo": {
	   "@type": "ImageObject",
	   "inLanguage": "en-US",
	   "@id": "{{ .Site.BaseURL }}#/schema/logo/image/",
	   "url": "{{ .Site.BaseURL }}{{ .Site.Params.seo.publisher.logo }}",
	   "contentUrl": "{{ .Site.BaseURL }}{{ .Site.Params.seo.publisher.logo }}",
	   "width": "{{ .Site.Params.seo.publisher.logo_width }}",
	   "height":"{{ .Site.Params.seo.publisher.logo_height }}",
	   "caption": "{{ .Site.Params.seo.publisher.name }}"
         }



       }
    ]
}
</script>

	            


    
{{/*
<script type="application/ld+json">
{
  "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ $title }}",
  "author": {
      "@type": "Person",
      "url": "https://stgabriel.io/about",
      "name": "{{ .Site.Params.author }}"
  },
    "datePublished": "{{ .Params.PublishDate.Format "2006-01-02"}}",
    "dateModified": "{{ .Params.LastMod.Format "2006-01-02"}}",
    "image": {
       "@type": "imageObject",
       "url": "{{ $twitterImage  }}",
       "height": "630",
       "width": "1200"
      },
    "copyrightNotice": "{{ .Site.Copyright }}",
    "copyrightHolder": "Kris St.Gabriel",
    "copyrightYear": "{{ .Params.PublishDate.Format "2006" }}",
    "wordCount": "{{ $wordCount }}",
    "genre": "Humor",
    "keywords": "{{- range $i, $e := first 10 $allTags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}",
    "description": "{{ $metaDescription }}",
    "url": "{{ .Permalink }}",
    "articleBody": "{{ .Content }}",
  "publisher": {
    "@type": "Organization",
      "name": "{{ .Site.Params.title }}"
  }
}
</script>    



*/}}





{{/*



{{ if eq .Section "stories" }}

   
<script type="application/ld+json">
{
  "@context": "http://schema.org",
    "@type": "ShortStory",
    "headline": "{{ $title }}",
  "author": {
      "@type": "Person",
      "@id": "https://stgabriel.io/about",
      "name": "{{ .Site.Params.author }}"
  },
    "datePublished": "{{ .Params.PublishDate.Format "2006-01-02"}}",
    "dateModified": "{{ .Params.LastMod.Format "2006-01-02"}}",
    "image": {
      "@type": "imageObject",
      "url": "{{ $twitterImage  }}",
      "height": "630",
      "width": "1200"
     },
    "copyrightNotice": "{{ .Site.Copyright }}",
    "copyrightHolder": "Kris St.Gabriel",
    "copyrightYear": "{{ .Params.PublishDate.Format "2006" }}",
    "genre": "Humor",
    "keywords": "{{- range $i, $e := first 10 $allTags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}",
    "description": "{{ $metaDescription }}",
    "url": "{{ .Permalink }}",
  "publisher": {
    "@type": "Organization",
      "name": "{{ .Site.Params.title }}"
  }
}
</script>    

    {{ end }}






   {{ if eq .Section "articles" }}
	 
<script type="application/ld+json">
{
  "@context": "http://schema.org",
    "@type": "Article",
    "headline": "{{ $title }}",
  "author": {
      "@type": "Person",
      "@id": "https://stgabriel.io/about",
      "name": "{{ .Site.Params.author }}"
  },
    "datePublished": "{{ .Params.PublishDate.Format "2006-01-02"}}",
    "dateModified": "{{ .Params.LastMod.Format "2006-01-02"}}",
   "image": {
   "@type": "imageObject",
   "url": "{{ $twitterImage  }}",
   "height": "630",
   "width": "1200"
  },
    "copyrightNotice": "{{ .Site.Copyright }}",
    "copyrightHolder": "Kris St.Gabriel",
    "copyrightYear": "{{ .Params.PublishDate.Format "2006" }}",
    "genre": "Humor",
    "keywords": "{{- range $i, $e := first 10 $allTags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}",
    "description": "{{ $metaDescription }}",
    "url": "{{ .Permalink }}",
  
  }
    
}
</script>    

    {{ end }}
    	
*/}}	
