<!-- this is the shared meta_lists -->

{{ $paginator := .Paginate .RegularPagesRecursive }}

{{ $provisionalTitle := print " Ecards"| print .Params.Title | print "Free " }}

{{ $scratch := newScratch }}

{{ if isset .Params "og_title" }}
{{ $.Scratch.Set "title" .Params.og_title }}
{{ else }}
{{ $.Scratch.Set "title" $provisionalTitle  }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}

{{ if $paginator.HasPrev  }}
{{ $temp := print $paginator.PageNumber | print " | Page " | print $title }} 
{{ $.Scratch.Set "title" $temp }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}


<!--
    If its an ecard, i want it to have ' | WRONGCARDS' at the end of the title.
    But not stgabriel.io, because the title already has my name in it.
-->
{{ if eq site.Params.mainContentType "blogs" }}
{{ $.Scratch.Set "suffix" "" }}
{{ else }}
{{ $temp_string := print site.Title | print " | " }}
{{ $.Scratch.Set "suffix" $temp_string }}
{{ end }}
{{ $suffix := $.Scratch.Get "suffix" }}
<title>{{ $title }}{{ $suffix }}</title>

<meta name="title" property="{{ $title }}{{ $suffix }}">
<meta property="og:title" content="{{ $title }}" />
<meta name="twitter:title" content="{{ $title }}" />

<meta name="application-name" content="{{ .Site.Params.title }}" />
<meta property="og:site_name" content="{{ .Site.Params.title }}" />


{{/*
keywords grabs keywords from the card,
then it adds 'category' keywords.
puts the values in $allTags.
Then it ranges through the first 10 only.
*/}}
{{ $.Scratch.Set "tags" slice }}
{{ range .Params.keywords }}{{ $.Scratch.Add "tags" . }}{{ end }}
{{ range site.Params.keywords }}{{ $.Scratch.Add "tags" . }}{{ end }}
{{ $allTags := $.Scratch.Get "tags" }}
<meta name="keywords" content="{{- range $i, $e := first 10 $allTags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">


<!--
    grab .Params.meta_description
    If it doesnt exist, grab .Content
    btw. .Content is displayed on the Section page.
    REMEMBER:
      .Params.meta_description should be less than 160 characters.
-->
{{ if isset .Params "meta_description" }}
  {{ $description := .Params.meta_description | plainify }}
  {{ $.Scratch.Set "description" $description }}
{{ else }}
  {{ $description := .Content | plainify }}
  {{ $.Scratch.Set "description" $description }}
{{ end }}

{{ $description := $.Scratch.Get "description" }}
<meta name="description" content="{{ $description }}">

{{ if isset .Params "og_description" }}
{{ $.Scratch.Set "ogDescription" .Params.og_description }}
{{ else }}
{{ $.Scratch.Set "ogDescription" .Content }}
{{ end }}
{{ $ogDescription := $.Scratch.Get "ogDescription" }}

<meta property="og:description" content="{{ $ogDescription }}" />

<meta name="twitter:description" content="{{ $ogDescription }}" />


<meta property="og:type" content="website" />

<meta name="author" content="{{ (partial "author.html" . ) }}" />
<meta property="article:author" content="{{ .Site.Params.facebookAuthor }}">
<meta property="article:publisher" content="{{ .Site.Params.facebookPublisher }}">


{{ with .Site.Params.facebook_admin -}}
  <meta property="fb:admins" content="{{ . }}">
{{ end -}}
{{ with .Site.Params.facebook_app_id -}}
  <meta property="fb:app_id" content="{{ . }}">
{{ end -}}



  {{ if eq $paginator.PageNumber 1 }}
    {{ $.Scratch.Set "url" .Permalink }}
  {{ else }}
    {{ $temp :=  print $paginator.PageNumber | print "page/" | print .Permalink }}
    {{$.Scratch.Set "url" $temp }}
  {{ end }}
  {{ $url := $.Scratch.Get "url" }}
  
  <link rel="canonical" href="{{ $url }}" itemprop="url" />
    <base href="{{ $url }}" />
    <meta name="url" content="{{ $url }}" />
    <meta name="twitter:url" content="{{ $url }}" /> 
    <meta property="og:url" content="{{ $url }}" />
  
    
  {{ if $paginator.HasPrev  }}
    {{ with $paginator.HasPrev }}
        <link rel="prev" href="{{ $paginator.Prev.URL }}" />
        
       {{ end }}
    {{ end }}
{{ if $paginator.HasNext  }}
      {{ with $paginator.HasNext }}
       <link rel="next" href="{{ $paginator.Next.URL }}" />
        
       {{ end }}
    {{ end }}

<!-- hey -->

{{ $scratch := newScratch }}

{{ if eq site.Params.mainContentType "blogs" }}

      {{ range first 1 (.RegularPagesRecursive.ByDate.Reverse) }}
         {{ $.Scratch.Set "latest_date" .PublishDate  }}
       {{ end }}
    {{ $scratch.Add "image" "avatar.png" }}
    {{ if isset .Params "image" }}
       {{ $scratch.Set "image" .Params.image }}         
    {{ end }}
 
    {{ $temp := $scratch.Get "image" }}
    {{ $image := $temp | print "images/theme/" }}

     {{ $.Scratch.Set "latest_image" $image }}
      
       {{/*
        {{ $facebookImage := resources.Get $image }}
    {{ $facebookImage := $facebookImage.Resize .Site.Params.facebookImageSettings }}
    {{ $facebookImage := $facebookImage.Permalink }}
   */}}
    {{ $.Scratch.Set "alt_text" .Params.image_alt }}

       
{{ else  }}


    {{ range first 1 (.RegularPagesRecursive.ByDate.Reverse) }}
    {{ $.Scratch.Set "latest_date" .PublishDate  }}


      {{ $path := ".png" | print .Params.id | print "images/c/" }}
    {{ $.Scratch.Set "latest_image" $path }}
    

    {{ if .Params.alt_tag }}
      {{ $.Scratch.Set "alt_text" .Params.alt_tag }}
    {{ end }}
    
    {{ end }}
 
 {{ end }}

       
    {{ $latestDate  := $.Scratch.Get "latest_date" }}
    {{ $latestImage := $.Scratch.Get "latest_image" }}
    {{ $altText   := $.Scratch.Get "alt_text" }}

    {{ $iso8601 :=  "2006-01-02T15:04:05Z0700" }}



  {{ $facebookImage := resources.Get $latestImage }}
  {{ $facebookImage := $facebookImage.Resize .Site.Params.facebookImageSettings }}
  {{ $scratch.Set "facebookImage" $facebookImage.Permalink }}


       
 {{ $facebookImage := $scratch.Get "facebookImage" }}
 {{ $twitterImage := $facebookImage }}

       {{/*
  {{ $twitterImage := resources.Get $facebookImage }}
  {{ $twitterImage := $twitterImage.Resize .Site.Params.twitterImageSettings }}
  {{ $scratch.Set "twitterImage" $twitterImage.Permalink }}
  {{ $twitterImage := $scratch.Get "twitterImage" }}
     */}}



<meta itemprop="image" content="{{ $facebookImage }}" />
<meta property="og:image" content="{{ $facebookImage }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $twitterImage }}" />
<meta name="twitter:image:src" content="{{ $twitterImage }}" /> 
<meta name="twitter:image:alt" content="{{ $altText }}" />
<meta name="twitter:creator" content="@stgabriel" />
<meta name="twitter:site" content="@wrongcards" />  


<meta property="og:updated_time" content="{{ $latestDate.Format $iso8601  }}">

  {{/*
    CLEVER: Adds the 'related' wrongcards, via emtatags, to the og:see_also meta property
  */}}

	{{ $related := first 6 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
	{{ with $related }}
          {{ range . }}
	   <meta property="og:see_also" content="{{ .Permalink }}">
	  {{ end }}
	{{ end }}
	

	   
    {{ with .Params.metatags -}}
      {{ range first 6 . -}}
        <meta property="article:tag" content="{{ . }}">
      {{ end -}}
    {{ end -}}


 {{ $.Scratch.Set "count" 0 }}



<script type="application/ld+json">
	{
  "@context": "http://schema.org",
  "@graph": [
    {
      "@type": "WebPage",
      "author": {
        "@id": "{{ site.BaseURL }}#identity"
      },
      "copyrightHolder": {
        "@id": "{{ site.BaseURL }}#identity"
      },
	"copyrightYear": "{{ now.Year }}",
      "creator": {
        "@id": "{{ site.BaseURL }}#creator"
      },
      "dateModified": "{{ range first 1 (.RegularPagesRecursive.ByDate.Reverse) }}{{ .PublishDate.Format $iso8601  }}{{ end }}",
      "datePublished": "{{ range first 1 (.RegularPagesRecursive.ByDate.Reverse) }}{{ .PublishDate.Format $iso8601  }}{{ end }}",
      "headline": "{{ $title }}",
      "image": {
        "@type": "ImageObject",
          "url": "{{ site.BaseURL }}{{ site.Params.seo.logo_large }}"
      },
      "inLanguage": "en-us",
	"mainEntityOfPage": "{{ .Permalink }}",
	"name": "{{ $title }}",
      "publisher": {
          "@id": "{{ site.BaseURL }}#creator"
      },
{{ if site.Params.seo.enableSearch }}
         "potentialAction": [
            {
              "@type": "SearchAction",
              "target": {
                "@type": "EntryPoint",
                "urlTemplate": "{{ site.BaseURL}}search/?s={search_term_string}"    
              },
             "query-input": "required name=search_term_string"
            }
     
         ],{{ end}}
	"url": "{{ .Permalink }}"
    },
    {
	"@id": "{{ site.BaseURL}}#identity",
      "@type": "Organization",
{{ if false }}      "address": [
        {
          "@type": "PostalAddress",
          "addressLocality": "Seattle",
          "addressRegion": "WA",
          "name": "Moz Seattle",
          "postalCode": "98107",
          "streetAddress": "1752 NW Market Street #4073"
        },
        {
          "@type": "PostalAddress",
          "addressCountry": "Canada",
          "addressLocality": "Vancouver",
          "addressRegion": "BC",
          "name": "Moz Vancouver",
          "postalCode": "V6Z 1A1",
          "streetAddress": "400 - 720 Robson St"
        }
      ],{{ end }}
      "image": {
        "@type": "ImageObject",
        "height": "{{ site.Params.seo.logo_large_height }}",
          "url": "{{ site.BaseURL }}{{ site.Params.seo.logo_large }}",
        "width": "{{ site.Params.seo.logo_large_width }}"
      },
      "logo": {
        "@type": "ImageObject",
          "height": "{{ site.Params.seo.logo_height }}",
          "url": "{{ site.BaseURL }}{{ site.Params.seo.logo }}",
          "width": "{{ site.Params.seo.logo_width}}"
      },
	"name": "{{ site.Title }}",
	"sameAs": {{ site.Params.seo.sameAs }},
	"url": "{{ site.BaseURL }}"
    },
    {
      "@id": "{{ site.BaseURL }}#creator",
      "@type": "Organization",
      "image": {
        "@type": "ImageObject",
        "height": "{{ site.Params.seo.logo_large_height }}",
          "url": "{{ site.BaseURL}}{{ site.Params.seo.logo_large }}",
        "width": "{{ site.Params.seo.logo_large_width }}"
      },
      "logo": {
        "@type": "ImageObject",
        "height": "{{ site.Params.seo.logo_height }}",
        "url": "{{ site.BaseURL }}{{ site.Params.seo.logo }}",
        "width": "{{ site.Params.seo.logo_width }}"
      },
      "name": "{{ site.Params.seo.name }}",
      "url": "{{ site.BaseURL }}"
    },
    {
      "@type": "BreadcrumbList",
      "description": "Breadcrumbs list", 
	"itemListElement": [  {{- range $index, $element := .Ancestors.Reverse }}
			     { 
          "@type": "ListItem",
          "item": "{{ .Permalink }}",
          "name": "{{ if eq $index 0 }}Home{{ else }}{{ .Params.breadcrumb }}{{ end }}",
	   "position": "{{ $.Scratch.Set "count" (add $index 1) }}{{ $position := $.Scratch.Get "count"}}{{$position}}"
        },{{ end }}
        {
          "@type": "ListItem",
          "item": "{{ .CurrentSection.Permalink }}",
          "name": "{{ .Params.Title }}",
            "position": "{{ (add ($.Scratch.Get "count") 1) }}"
        }
      ],
      "name": "Breadcrumbs"
    }
  ]
}
</script>


	

	
{{/*

	The following works well. But im not sure itemlist is as good SEO as the one im putting in above.
	Because im basically immitating what SEO websites do there.

*/}}
	
{{/*
<script type="application/ld+json">
 {
      "@context":"https://schema.org",
      "@type":"ItemList",
	"itemListElement":[
	{{ range $index, $page := $paginator.Pages }}
        {
          "@type":"ListItem",
          {{ $position := add $index 1 }}{{ $number := mul $paginator.PageNumber 12 }}{{ $number := sub $number 12 }}{{ $position := add $position $number }}"position": "{{ $position }}",
          "url":"{{ .Permalink }}"
        }{{ if ne (add $index 1) ( len $paginator.Pages) }},{{  end }}
      {{ end}}
      ]
    }
    </script>
*/}}




{{/*
 the following imageGallery is perfectly done.
 however, google will ignore it. it wants an itemList for pages like this.
*/}}


	
{{/*
<script type="application/ld+json">
  {"@context" : "http://schema.org",
   "@type": "imageGallery",
   "genre": "humor",
   "headline": "{{ $title }}",
   {{ if .Params.og_description}}"alternativeHeadline": "{{ .Params.og_description }}",{{ end }}
   "id": "{{ $url }}",
   "url": "{{ $url }}",
   "about":"{{ $description }}",
   "copyrightNotice": "{{ site.Copyright }}",
   "copyrightHolder": "{{ site.Params.author }}",
   "lastReviewed": "{{ site.Params.lastUpdated  }}",
   "publisher": {
        "@type": "ProfilePage",
        "name": "{{ .Site.Params.title }}"
   },
   
   "keywords": "{{- range $i, $e := first 10 $allTags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}",
       "mainEntityOfPage": {  
	    "@type": "ImageGallery",
		"image":  [  //begin bracket for multiple entries under image
                        {{ range $index, $page := $paginator.Pages }}
                        {{ $path := ".png" | print .Params.id | print "images/c/" }}{{ $facebookImage := resources.Get $path }}{{ $facebookImage := $facebookImage.Resize .Site.Params.facebookImageSettings }}{{ $facebookImage := $facebookImage.Permalink }}
		        {
			    "@type": "ImageObject",
			    "genre": "humor",
			    "id": "{{ .Permalink }}",
			    {{ $position := add $index 1 }}{{ $number := mul $paginator.PageNumber 12 }}{{ $number := sub $number 12 }}{{ $position := add $position $number }}"position": "{{ $position }}",
			    "name": "{{ .Title }}",
			    {{ if .Params.description }}"abstract": "{{ .Params.description | plainify }}",{{ end }}
                             "text": "Ecard text: {{ .Params.alt_tag | plainify }}",
			     "url": "{{ $facebookImage }}"
			}{{ if ne (add $index 1) ( len $paginator.Pages) }},{{  end }}
		        {{ end}}
			
		      ] //end bracket for ImageGallery > image(s)
		  } //end bracket for mainEntityOfPage
  }
</script>
*/}}
