
{{ $titleSuffix := print " | WRONGCARDS" | print " Ecard" | print .Parent.Title | print " | " }}
{{ $titlePrefix :=  print .Title | humanize }}
{{ $title := print $titleSuffix | print $titlePrefix }}

{{/*
    og:title
    SOCIAL MEDIA APPEARING ONLY
    Add it to all “shareable” pages.
    Focus on accuracy, value, and clickability.
    Keep it short to prevent overflow. There’s no official guidance on this, but 40 characters for mobile and 60 for desktop is roughly the sweet spot.
    Use the raw title. Don’t include branding (e.g., your site name).
*/}}

{{ $ogTitle := print .Title }}


{{/*
    og:description
    SOCIAL MEDIA APPEARING ONLY
    Complement the title to make the snippet as appealing and click-worthy as possible.
    Copy your meta description here if it makes sense. 
    Keep it short and sweet. Facebook recommends 2-4 sentences, but that often truncates.
*/}}

{{ if .Params.description }}
    {{ $.Scratch.Set "description" .Params.description }}
{{ else }}
    {{ $.Scratch.Set "description" .Params.alt_tag }}
{{ end }}
{{ $ogDescription := $.Scratch.Get "description" }}

{{/*
    metaDescription is only used in the JSON+LD
    area below.
    It's the image alt_tag.
    But it adds the card description, if its set.
*/}}
{{ if .Params.description }}
     {{ $temp := print .Params.description | print "'. About this card: " | print .Params.alt_tag | print "Ecard text: '" }}
     {{ $.Scratch.Set "metaDescription" $temp }}  
{{ else }}
     {{ $temp := print "'." | print .Params.alt_tag | print "Ecard text: '" }}
     {{ $.Scratch.Set "metaDescription" $temp }}
{{ end }}
{{ $metaDescription := $.Scratch.Get "metaDescription" }}




<title>{{ $title }}</title>

<meta property="og:title" content="{{ $ogTitle }}" />
<meta name="twitter:title" content="{{ $ogTitle }}" />

<meta name="application-name" content="{{ .Site.Params.title }}" />
<meta property="og:site_name" content="{{ .Site.Params.title }}" />


{{/*
keywords grabs keywords from the card,
then it adds 'category' keywords.
puts the values in $allTags.
Then it ranges through the first 10 only.
*/}}
{{ $.Scratch.Set "tags" slice }}
{{ range .Params.tags }}{{ $.Scratch.Add "tags" . }}{{ end }}
{{ range .Parent.Params.keywords }}{{ $.Scratch.Add "tags" . }}{{ end }}
{{ $allTags := $.Scratch.Get "tags" }}
<meta name="keywords" content="{{- range $i, $e := first 10 $allTags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">



<meta name="description" content="{{ $ogDescription }}" />

<meta property="og:description" content="{{ $ogDescription }}" />
<meta name="twitter:description" content="{{ $ogDescription }}" />


<meta property="og:type" content="article" />

<meta property="article:section" content="{{ .Parent.Title }} Ecards">

<meta name="author" content="{{ (partial "author.html" . ) }}" />
<meta property="article:author" content="{{ .Site.Params.facebookAuthor }}">
<meta property="article:publisher" content="{{ .Site.Params.facebookPublisher }}">


{{ with .Site.Params.facebook_admin -}}
  <meta property="fb:admins" content="{{ . }}">
{{ end -}}
{{ with .Site.Params.facebook_app_id -}}
  <meta property="fb:app_id" content="{{ . }}">
{{ end -}}


  
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- if and (gt (len $pages) 1) (in $pages . ) }}
    {{- with $pages.Prev . }}
     <link rel="prev" href="{{ .Permalink }}">
    {{- end }}
    {{- with $pages.Next . }}
     <link rel="next" href="{{ .Permalink }}">
    {{- end }}
  
  {{- end }}
  


<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<base href="{{ .Permalink }}" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta property="og:url" content="{{ .Permalink }}" />


{{ $scratch := newScratch }}
{{ $scratch.Add "image" "images/theme/avatar.png" }}


{{ if .Params.id }}
  {{ $path := ".png" | print .Params.id | print "images/c/" }}
  {{ $scratch.Set "image" $path }}
{{ end }}

{{ $image := $scratch.Get "image" }}


  {{ $facebookImage := resources.Get $image }}
  {{ $facebookImage := $facebookImage.Resize .Site.Params.facebookImageSettings }}
  {{ $scratch.Set "facebookImage" $facebookImage.Permalink }}

 {{ $facebookImage := $scratch.Get "facebookImage" }}

  {{ $twitterImage := resources.Get $image }}
  {{ $twitterImage := $twitterImage.Resize .Site.Params.twitterImageSettings }}
  {{ $scratch.Set "twitterImage" $twitterImage.Permalink }}
  {{ $twitterImage := $scratch.Get "twitterImage" }}


{{ $image := $scratch.Get "image" }}



<meta property="og:image" content="{{ $facebookImage }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $twitterImage }}" />
<meta name="twitter:image:src" content="{{ $twitterImage }}" /> 
<meta name="twitter:image:alt" content="{{ .Params.alt_tag }}" />
<meta name="twitter:creator" content="@stgabriel" />
<meta name="twitter:site" content="@wrongcards" />  


{{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}

  {{ if not .PublishDate.IsZero -}}
    <meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
  {{ else if not .Date.IsZero -}}
    <meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
  {{ end -}}


    {{ if not .Lastmod.IsZero -}}
    <meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
  {{ end -}}

  {{ if not .Date.IsZero -}}
    <meta property="og:updated_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
  {{ end -}}




  {{/*
    CLEVER: Adds the 'related' wrongcards, via emtatags, to the og:see_also meta property
  */}}

	{{ $related := first 6 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
	{{ with $related }}
          {{ range . }}
	   <meta property="og:see_also" content="{{ .Permalink }}">
	  {{ end }}
	{{ end }}
	
	   
    {{ with .Params.tags -}}
      {{ range first 6 . -}}
        <meta property="article:tag" content="{{ . }}">
      {{ end -}}
    {{ end -}}

	   

<script type="application/ld+json">

{
  "@context": "http://schema.org",
  "@graph": [

	
   {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": "{{ $ogTitle }}",
      "alternateName": "{{ $title }}",
      "author": {
        "@type": "Person",
        "name": "Kris St.Gabriel",
        "jobTitle": "Founder",
        "url": "https://stgabriel.io/about"  
      },
      "datePublished": "{{ .Params.PublishDate.Format "2006-01-02"}}",
      "dateModified": "{{ .Params.LastMod.Format "2006-01-02"}}",
      "image": "{{ $twitterImage }}",
      "copyrightNotice": "{{ .Site.Copyright }}",
      "copyrightHolder": "Kris St.Gabriel",
      "genre": "{{ .Parent.Title }} Ecards",
      "keywords": "{{- range $i, $e := first 10 $allTags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}",
      "description": "{{ $metaDescription }}",
      "url": "{{ .Permalink }}",
      "publisher": {
         "@type": "Organization",
         "name": "{{ .Site.Params.title }}",
         "url" : "https://wrongcards.com"
      }



   },
    {
       "breadcrumb": {
       "@type": "BreadcrumbList",
       "description": "Breadcrumbs list",
       "itemListElement":  [ {{- range $index, $element := .Ancestors.Reverse }}
                  {
                     "@type": "listItem",
                     "item": "{{ .Permalink }}",
                     "name": "{{ if eq $index 0}}Home{{ else }}{{ .Params.og_title}}{{end}}",
                     "position": "{{$.Scratch.Set "count" (add $index 1)}}{{ $position := $.Scratch.Get "count" }}{{ $position}}"
                 },{{ end }}   
                 {
                     "@type": "ListItem",
                     "item": "{{ .Permalink }}",
		     "name": "{{ .Title }}",
                     "position": "{{ (add ($.Scratch.Get "count") 1) }}"
                 }
           ]

       }
      }

 ]
}
</script>    
