<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{- if hugo.IsProduction | or (eq site.Params.env "production") | and (ne .Params.robotsNoIndex true) }}
   <meta name="robots" content="index, follow">
{{- else }}
   <meta name="robots" content="noindex, nofollow">
{{- end }}

  {{- block "metatags" . }}{{ end }} 
  {{- partial "header/head.html" . }}
    
</head>




<body class="{{- block "bodyClass" . }}{{ end }}
	     
{{ if eq .Kind "home" -}}
{{- print " frontpage" -}}

	     
{{- else if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print " list" -}}
{{- end -}}
		
		     
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">


  {{ partial "header/lightDarkJS.html" . }}

    <div class="wrapper">

      
	{{ partial "header/header-mobile.html" . }}

	
      <section class="content">

	
	<div class="columns">


	  
	  <header class="header">
            <div class="fixed">
               {{ if eq .Site.Params.mainContentType "ecards" }}
	         <a class="logo" href="/" alt="logo"></a>
	       {{ else }}
	         <a class="logo" href="/" alt="logo"></a>
	       {{ end}}

		 <div class="slogan">{{ .Site.Params.slogan | safeHTML }}</div>
	    
	    {{ if eq .Site.Params.mainContentType "ecards" }}
	    {{ partial "ecards/nav-menu.html" .}}
	    {{ else }}
	    {{ partial "blogs/nav-menu.html" . }}
	    {{ end }}
	    </div>
	 </header>

	  <div class="row">
	    {{- block "hero" . }}{{ end }}
	    <div class="columns">
              <main class="column main">
                       {{- block "main" . }}{{ end }}
              </main>
              <section class="sidebars">
                       {{- block "sidebar" .}}{{ end }}
	      </section>
            </div><!-- columns -->
	  </div><!-- /row -->	     
        </div><!-- /row -->

        </div><!-- /columns -->
     </section><!-- /section.content -->
    </div><!-- /div.wrapper -->

    {{ partial "extend_footer.html" . }}
    
    
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
    
</body>

</html>
