{{ define "bodyClass"}} data {{ end}}

{{- define "main" }}


{{- $prod := (hugo.IsProduction | or (eq site.Params.env "production")) }}
{{ if $prod }}visible in dev only{{ else }}

<h1>data page</h1>
<h5>visible in dev mode only</h5>


 <h2>Sections</h2>
<table>
  <tr>
    <td>Section></td>
    <td>.Params.meta_description</td>
    <td>Characters in meta_description</td>
    <td> TITLE tag </td>
    <td>.Params.og_title (Social Share Title)</td>
    <td>.Params.og_description (social share description)</td>
    <td>.Params.breadcrumb</td>
  </tr>
 
  {{ range (where .Site.Pages "Section" "ecards") }}
  

  <tr>
   
     {{ if .IsSection }}
       <td>
	<a href="{{ .Permalink }}">{{ .Title }}</a>	
       </td>
       <td>
         {{ .Params.meta_description }}
       </td>
       <td>
         {{ .Params.meta_description | strings.Count "" }}
       </td>
       <td>
         {{ .Title }}
       </td>
       <td>
         {{ .Params.og_title }}
       </td>
       <td>
         {{ .Params.og_description }}
       </td>
       <td>
         {{ .Params.breadcrumb }}
       </td>
     {{ end }}
  </tr>
  {{ end }}
</table>


<h2>ECARDS</h2>

  <table>
   {{ range $index, $element := (where (where .Site.RegularPages "Section" "ecards") "Permalink" "!=" .Page.Permalink) }}
   <tr>

     <td>
       <a href="https://gitlab.com/stgabriel/wrongcards.hugo/-/edit/master/content/{{ .File.Path }}" style="border-bottom:1px solid black">edit</a>

     </td>

     <td><b>id:</b> {{ .Params.id }}</td>

     <td><a href="{{ .RelPermalink }}" class="block">
            {{ .Title }} <!-- {{ dateFormat "January 2006" .Date }} -->
        </a>
     </td>

     <td>
      {{ if .Params.tags }} {{ .Params.tags }} {{ else }} NONE {{ end }}
     <!--  {{ .Params.lastmod }} -->
     </td>

     <td>

     <td>
      {{ if .Params.alt_tag }} {{ .Params.alt_tag }} {{ else }} NONE {{ end }}
     <!--  {{ .Params.lastmod }} -->
     </td>

     <td>
       
        {{ if .Params.description }}{{ .Params.description }}{{ else}} TO DO {{end}}
      
     </td>
     <td>
    {{ with $element }}
      
     {{ end }}
      </td>
     </tr>


  
    {{ end }} <!-- /range -->
</table>

  <h2> URLS </h2>
  
  <code>
  https://wrongcards.com
  {{ range (where .Site.Pages "Section" "ecards") }}
  https://wrongcards.com{{ .RelPermalink }}<br>
  {{ end }}
  </code>

  

<style>

  body.data section.sidebars {display:none;width:0;}



  
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}
</style>

  {{ end }}<!-- /check if prod -->
{{- end }}





    
    {{/*


   <!-- scraps -->
   {{ range $index, $element := (where (where .Site.RegularPages "Section" "ecards") "Permalink" "!=" .Page.Permalink) }}




    */}}
