{{- define "main" }}

<header class="page-header">
    <h1>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>




<form id="searchbox">
    <input id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}"
        aria-label="search" type="search" autocomplete="off">
    <ul id="searchResults" aria-label="search results"></ul>
</form>



  <!--
    The following makes it so you can pass a url parameter to the form
    ie.  search/s?=goat
    and it works. however, it doesnt refresh the <ul id="searchResutls">
    so it will just confuse the users until that auto-updates.

    so we're still not there yet.
    i need, on page load, to tell javascript to refresh the ul id="searchResults" or the
    user will be like, huh. nothings happening?
  -->
        <script type="text/javascript">
           let params = (new URL(document.location)).searchParams;
           let name = params.get('s'); // ?s=goat
	   document.getElementById('searchInput').value = name;
        </script>


{{- end }}{{/* end main */}}
