
<ol class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
        {{- /* declare a 'variable' to store the each link position */}}
        {{- $data := newScratch }}

        {{- range $index, $value := .Ancestors.Reverse }}
 	     {{ if ne .Params.breadcrumb "page"}}
              <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
	      {{- /* read the index from loop and add 'one', because it starts counting from zero */}}
                {{- $data.Set "counter" $index }}
                {{- $data.Add "counter" 1 }}
                <a itemprop="item" href="{{.Permalink}}">
                    <span itemprop="name">{{ .Params.breadcrumb }}</span>
                </a>
                {{- /* pass the counter value into schema attribute */}}
                <meta itemprop="position" content='{{ $data.Get "counter"}}' />
             
	    </li>
            {{ end }}
        {{- end }}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                {{- /* add 'one' one more time for the last link position */}}
                {{- $data.Add "counter" 1 }}
                <a itemprop="item" href="{{ .Permalink }}">
		  {{ if .IsHome }}
		    <span itemprop="name">Home / Welcome to {{ site.Title}}</span>
		  {{ else }}
		    <span itemprop="name">{{ if .Params.breadcrumb }}{{ .Params.breadcrumb }}{{ else }}{{.Title}}{{ end }}</span>
		  {{end}}
		</a>
                {{- /* pass the counter value into schema attribute */}}
                <meta itemprop="position" content='{{ $data.Get "counter"}}' />
            </li>
    </ol>
