    {{/*
        https://www.cssscript.com/demo/simplest-modal-component-pure-javascript/
        the js file is in js/modal.js
        and the css is just in kris.scss
        its really simple.
    */}}

<button data-target="simpleModal_{{.Params.id}}" data-toggle="modal" class="button">share</button>


<div id="simpleModal_{{.Params.id}}" class="modal " >
    <div class="modal-window ">
        <h2>share this wrongcard</h2>

        <p>Worse case scenario?<br>People think you're a bit weird.</p>

        <div class="row">



        <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}" class="button bg-facebook " role="button">facebook</a>

        <a rel="nofollow" href="http://twitter.com/home?status={{ .Title }}%20{{ .Permalink | safeJS }}" class="button bg-twitter" role="button">twitter</a>

        <a rel="nofollow" href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl={{ .Permalink | safeJS }}&posttype=link" class="button bg-tumblr" role="button">tumblr</a>

        <a rel="nofollow" href="https://pinterest.com/pin/create/button/?url={{ .Permalink | safeJS }}&media=http%3A//wrongcards.com/{{ .Site.Params.imageDIR }}/c/{{ .Params.id }}.png&description={{ .Params.description | safeJS }}" class="button bg-pinterest" role="button ">pinterest</a>


        <a rel="nofollow" href="https://app.wrongcards.com/send/?wc_id={{.Params.id }}" class="button  btn-block" role="button">email</a>

    
    
        </div>

    </div>
</div>

