
{{- define "metatags" }}
    {{- template "partials/meta/metatags_home.html" . }}   
{{- end }}


{{ define "sidebar" }}

     {{ partial "sidebarBlocks/i-wrote-a-book.html" . }}
     {{ partial "ecards/latest-newsletters-horizontal.html" .}}
     
{{ end }}


{{ define "main" }}


  {{ partial "breadcrumbs.html" .}}

   {{/*

   TOP OF THE PAGE WELCOME AREA.

   */}}
   
    <h1 class="hero">Free Ecards.<br>No ads.</h1>
    <p class="hero">To support me in this infernal madness, feel free to <a href="https://stgabriel.io/books"><a href="https://stgabriel.io/books">buy one of my books</a>.</a></h2>


    {{/*

    <span>
      <a href="/ecards" class="button">explore wrongcards</a>
      <a href="https://stgabriel.io/books" class="button">check out my books</a>
      <a href="https://stgabriel.io/about" class="button">more about me</a>
    </span>
   */}}

    <hr>

    {{/*

   FEATURED CONTENT
   
   */}}

   

   

  {{$featured      := .Site.Params.featured }}
  {{$featuredTwo   := .Site.Params.featuredTwo }}
  {{$featuredThree := .Site.Params.featuredThree }}



          {{ range where .Site.Pages "Params.slug" $featured }}
          <h2>This Week's Featured Wrongcard</h2>
          
           {{ partial "teasers/side-by-side.html" . }}
          {{ end }}

  
          {{ range where .Site.Pages "Params.slug" $featuredTwo }}
     
          <h2>Last Week's</h2>          
           {{ partial "teasers/side-by-side.html" . }}
          {{ end }}

          {{ range where .Site.Pages "Params.slug" $featuredThree }}

	 
	  
          
         {{ partial "mainBlocks/newsletter-subscribe-box.html" . }}
	   

	 
	  
          <h2>Oh, This Was Good Too</h2>
         
          {{ partial "teasers/side-by-side.html" . }}
          {{ end }}



{{ end }}

