

<!-- Navigation bar -->
  <header class="mobileMenu">
    <div class="flexbox">
      <div class="box">
	{{ if eq site.Params.mainContentType "ecards"}}
	    <a class="logo" href="/"></a>
	{{ else }}
             <a class="letterspaced handwriting" style="font-size:26px" href="/">Kris St.Gabriel</a>
	{{ end }}
      </div>
      <div class="box ">

	
	<button class="letterspaced uppercase button menu-button handwriting" style="font-size:24px;font-weight:bold" data-target="simpleModal_menu" data-toggle="modal">
  menu	  
	  

	  
	</button>
      </div>
     </div>

		    
            
        
    </header>  


  
<div id="simpleModal_menu" class="modal">
    <div class="modal-window large">
        <span class="close" data-dismiss="modal">×</span>
        <h3>Dismiss with [×] button</h3>


	<p>Wrongcards &mdash; Ecards that are Wrong for Every Occasion.</p>

	<ul class="mobile-menu">
	  <li><a class="button" href="/">home</a></li>
	  <li><a class="button" href="https://stgabriel.io">blog</a></li>
	  <li><a class="button" href="https://stgabriel.io/books">my books</a></li>
	  <li><a class="button" href="https://stgabriel.io/about">about me</a></li>
	 
	</ul>

	
	
	<p style="margin-top:var(--gutter);margin-bottom:calc(var(--gutter)/2)">categories:</p>
<nav class="navigation">
  <ul class="mobile-menu">


<li>
  <a class="{{ if eq .CurrentSection.Title "Celebration"}}selected{{end}}" href="/ecards/celebration">celebration
    {{ if eq .CurrentSection.Title "Celebration"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}
  </a>
</li>

{{ if in .CurrentSection "celebration" }}
<ul>
  <li><a class="{{if in .CurrentSection "baby"}}selected{{end}}" href="/ecards/celebration/baby">baby</a></li>
  <li><a class="{{if in .CurrentSection "birthday"}}selected{{end}}" href="/ecards/celebration/birthday">birthday</a></li>
  <li><a class="{{if in .CurrentSection "wedding"}}selected{{end}}" href="/ecards/celebration/wedding">weddings</a></li>
  <li><a class="{{if in .CurrentSection "congratulations"}}selected{{end}}" href="/ecards/celebration/congratulations">congratulations</a></li>
  
</ul>
{{ end }}

<li>
  <a class="{{ if eq .CurrentSection.Title "Concern"}}selected{{end}}" href="/ecards/concern">concern
  {{ if eq .CurrentSection.Title "Concern"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
  </a>
</li>

{{ if in .CurrentSection "concern" }}
<ul>
  <li><a class="{{if in .CurrentSection "apology"}}selected{{end}}" href="/ecards/concern/apology">apology</a></li>
  <li><a class="button {{if in .CurrentSection "cheer-up"}}selected{{end}}" href="/ecards/concern/cheer-up">cheer up</a></li>
  <li><a class="button {{if in .CurrentSection "excuses"}}selected{{end}}" href="/ecards/concern/excuses">excuses</a></li>
  <li><a class="button {{if in .CurrentSection "get-well"}}selected{{end}}" href="/ecards/concern/get-well">get well</a></li>
  <li><a class="button {{if in .CurrentSection "missing-you"}}selected{{end}}" href="/ecards/concern/missing-you">missing you</a></li>
  <li><a class="button {{if in .CurrentSection "reminder"}}selected{{end}}" href="/ecards/concern/reminder">reminder</a></li>
  <li><a class="button {{if in .CurrentSection "sympathy"}}selected{{end}}" href="/ecards/concern/sympathy">sympathy</a></li>
  <li><a class="button {{if in .CurrentSection "thanks"}}selected{{end}}" href="/ecards/concern/thanks">thanks</a></li>
  <li><a class="button {{if in .CurrentSection "thinking-of-you"}}selected{{end}}" href="/ecards/concern/thinking-of-you">thinking of you</a></li>
  
</ul>
{{ end }}


<li>
  <a class="{{ if eq .CurrentSection.Title "Family"}}selected{{end}}" href="/ecards/family">family
  {{ if eq .CurrentSection.Title "Family"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "family" }}
<ul>
  <li><a class="{{if in .CurrentSection "in-laws"}}selected{{end}}" href="/ecards/family/in-laws">in-laws</a></li>
  
</ul>
{{ end }}



<li>
  <a class="{{ if eq .CurrentSection.Title "Holiday"}}selected{{end}}" href="/ecards/holiday">holiday
  {{ if eq .CurrentSection.Title "Holiday"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "holiday" }}
<ul>
  <li><a class="{{if in .CurrentSection "christmas"}}selected{{end}}" href="/ecards/holiday/christmas">christmas</a></li>
  <li><a class="{{if in .CurrentSection "easter"}}selected{{end}}" href="/ecards/holiday/easter">easter</a></li>
    <li><a class="{{if in .CurrentSection "thanksgiving"}}selected{{end}}" href="/ecards/holiday/thanksgiving">thanksgiving</a></li>
  <li><a class="{{if in .CurrentSection "st-patricks-day"}}selected{{end}}" href="/ecards/holiday/st-patricks-day">st patrick's day</a></li>
    <li><a class="{{if in .CurrentSection "mothers-day"}}selected{{end}}" href="/ecards/holiday/mothers-day">mother's day</a></li>
  <li><a class="{{if in .CurrentSection "fathers-day"}}selected{{end}}" href="/ecards/holiday/fathers-day">father's day</a></li>
  <li><a class="{{if in .CurrentSection "independence-day"}}selected{{end}}" href="/ecards/holiday/independence-day">independence day</a></li>
  <li><a class="{{if in .CurrentSection "happy-new-year"}}selected{{end}}" href="/ecards/holiday/happy-new-year">happy new year</a></li>
      <li><a class="{{if in .CurrentSection "halloween"}}selected{{end}}" href="/ecards/holiday/halloween">halloween</a></li>
  <li><a class="{{if in .CurrentSection "columbus-day"}}selected{{end}}" href="/ecards/holiday/columbus-day">columbus day</a></li>
  
</ul>
{{ end }}


<li>
  <a class="{{ if eq .CurrentSection.Title "Jewish"}}selected{{end}}" href="/ecards/jewish">jewish
  {{ if eq .CurrentSection.Title "Jewish"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "jewish" }}
<ul>
  <li><a class="{{if in .CurrentSection "hanukkah"}}selected{{end}}" href="/ecards/jewish/hanukkah">hanukkah</a></li>
  <li><a class="{{if in .CurrentSection "passover"}}selected{{end}}" href="/ecards/jewish/passover">passover</a></li>
  
</ul>
{{ end }}


<li>
  <a class="{{ if eq .CurrentSection.Title "Just Because"}}selected{{end}}" href="/ecards/just-because">just because
  {{ if eq .CurrentSection.Title "Just Because"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "just-because" }}

<ul>
  <li><a class="{{if in .CurrentSection "inspirational"}}selected{{end}}" href="/ecards/just-because/inspirational">inspirational</a></li>
  <li><a class="{{if in .CurrentSection "wtf"}}selected{{end}}" href="/ecards/just-because/wtf">wtf</a></li>
  <li><a class="{{if in .CurrentSection "zombies"}}selected{{end}}" href="/ecards/just-because/zombie">zombies</a></li>
  <li><a class="{{if in .CurrentSection "workplace"}}selected{{end}}" href="/ecards/just-because/workplace">workplace</a></li>
  <li><a class="{{if in .CurrentSection "tgif"}}selected{{end}}" href="/ecards/just-because/tgif">tgif</a></li>
  
</ul>
{{ end }}




<li>
  <a class="{{ if eq .CurrentSection.Title "Love"}}selected{{end}}" href="/ecards/love">love
  {{ if eq .CurrentSection.Title "love"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "love" }}

<ul>
  <li><a class="{{if in .CurrentSection "flirting"}}selected{{end}}" href="/ecards/love/flirting">flirting</a></li>
  <li><a class="{{if in .CurrentSection "anniversary"}}selected{{end}}" href="/ecards/love/anniversary">anniversary</a></li>
  <li><a class="{{if in .CurrentSection "valentines-day"}}selected{{end}}" href="/ecards/love/valentines-day">valentine's day</a></li>
  
</ul>
{{ end }}






<li>
  <a class="{{ if eq .CurrentSection.Title "Topical"}}selected{{end}}" href="/ecards/topical">topical
  {{ if eq .CurrentSection.Title "Topical"}}<i class="arrow arrow-up"></i>{{else}}<i class="arrow arrow-down"></i>{{end}}</li>
 </a>
</li>

{{ if in .CurrentSection "topical" }}

<ul>
  <li><a class="{{if in .CurrentSection "ocd"}}selected{{end}}" href="/ecards/topical/ocd">ocd</a></li>
  <li><a class="{{if in .CurrentSection "celebrity"}}selected{{end}}" href="/ecards/topical/celebrity">celebrity</a></li>
  <li><a class="{{if in .CurrentSection "politics"}}selected{{end}}" href="/ecards/topical/politics">politics</a></li>
  <li><a class="{{if in .CurrentSection "olympics"}}selected{{end}}" href="/ecards/topical/olympics">olympics</a></li>
  
</ul>
{{ end }}





</ul>
</nav>





	
        <button style="width:100%;font-weight:bold;margin-top:var(--gutter)" class="button" data-dismiss="modal">[x] close</button>
    </div>
</div>

